[2020-06-17 10:49] henrikstranneheim commented on #673
Yes we should and I think we do (I think I did not update to the table properly - done now)

The discrepancies are in bold e.g. in HK log is either called mip-log (DNA) or log (RNA), but it always point to the log from MIP.

[2020-06-17 11:02] hassanfa commented on #673
I think the bold ones and all those that are used by internal cg API are a very good candidate to build the first prototype.

Also, I think housekeeper tag for common ones should reflect the purpose of the tag and usage. Common tags should avoid having software names in them as much as they can; multiqc_json is an exception though.

[2020-06-17 11:28] moonso commented on #673
Perhaps we should here create a table with common tags based on the ones that @henrikstranneheim listed above?

[2020-06-22 14:16] patrikgrenfeldt opened #675 "Free up disk space by cleaning stored Balsamic cases"
As a IT responsible, I want processed Balsamic cases to be removed so that we free space back to the cluster.

Problem:
No automation exists for cleaning old Balsamic analyses which slowly fill up the disk

Steps to reproduce
1. make a Balsamic analysIs
1. store in cg
1. wait a year

Expected outcome
Old analysis under /home/proj/production/cancer/cases is clean up after 21(?) days

Actual outcome

[2020-06-25 08:26] Mropat opened #678 "Balsamic cli argument format inconsistent between commands"
As someone who runs BALSAMIC, I want to spend as little time as possible figuring out how to properly communicate my wishes to the CLI.

Problem:
Balsamic workflow analysis provides several different commands to automate and execute for BALSAMIC.
Currently, we have link, config-case, run, deliver, store and start commands. The start command even runs link, config-case and run commands together.
Th

[2020-06-30 09:08] #657 closed

[2020-07-06 07:36] moonso opened #685 "FASTQ compression problematic cases"
## WHAT is the problem

The FASTQ compression is now running every night where fastq files gets compressed into SPRING archives. During the testing process it was discovered that the links in the housekeeper stage database points to actual production data fastq files. This has caused some problems that require investigation for a few cases. In this issue we will track what cases that are affected

[2020-07-08 13:01] northwestwitch opened #688 "Error while uploading cases to scout"
On behalf of scout prod team. Case scenario is you want to upload easypug. You run `cg upload -f easypug`

You get this error:

[code]

[2020-07-08 13:19] northwestwitch commented on #688
The error is not happening for all cases. But for some, like this one

[2020-07-13 08:27] karlnyr commented on #688
$ cg upload -f righttuna
----------------- UPLOAD ----------------------
Traceback (most recent call last):
  File "/home/proj/bin/conda/envs/P_main/bin/cg", line 11, in <module>
    sys.exit(base())
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/

[2020-07-13 12:27] barrystokman opened #689 "Chronic: start of MIP analysis for case lightkoi fails"
**Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-start.sh >> ${LOG_BASE}/cg.workflow-mip-dna-start.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-start.log >&2)**

[Cron _hiseq.clinical@hasta_ $CRONIC ${PRODUCTION_HOME}_servers_resources_hasta.scilifelab.se_crontabs_workflow-mip-dna-start.sh __ ${LOG_BASE}_cg.workflow-mip-dna

[2020-07-13 12:32] barrystokman opened #690 "Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-upload-delivery-report.sh >> ${LOG_BASE}/cg.upload-delivery-reports.log 2> >(tee -a ${LOG_BASE}/cg.upload-delivery-reports.log >&2)"
**Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-upload-delivery-report.sh >> ${LOG_BASE}/cg.upload-delivery-reports.log 2> >(tee -a ${LOG_BASE}/cg.upload-delivery-reports.log >&2)**

[Cron _hiseq.clinical@hasta_ $CRONIC ${PRODUCTION_HOME}_servers_resources_hasta.scilifelab.se_crontabs_cron-cg-upload-delivery-report.sh __ ${LOG_BASE}_c

[2020-07-13 12:36] barrystokman opened #691 "Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/upload-auto.sh >> ${LOG_BASE}/cg.upload.log 2> >(tee -a ${LOG_BASE}/cg.upload.log >&2)"
**Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/upload-auto.sh >> ${LOG_BASE}/cg.upload.log 2> >(tee -a ${LOG_BASE}/cg.upload.log >&2)**

[Cron _hiseq.clinical@hasta_ $CRONIC ${PRODUCTION_HOME}_servers_resources_hasta.scilifelab.se_crontabs_upload-auto.sh __ ${LOG_BASE}_cg.upload.log 2_ _(tee -a ${LOG_BASE}_cg.upload.log _&2).zip](https://git

[2020-07-20 08:49] Mropat opened #693 "Error when running BALSAMIC through CG interface for wgs samples"
Problem:
cg workflow balsamic fails to run wgs cases
The culprit is config-case command, which fails to generate config files.
[code]

Steps to reproduce
  1. run `cg workflow balsamic -c [WGS_CASE_ID] ` or `cg workflow balsamic config-case [WGS_CASE_ID] `
  2. Observe error message

Expected outcome:
Analysis of wgs cases starts normally

Suggested solution:
If analysis type is wgs in clinicaldb,

[2020-07-27 08:10] barrystokman commented on #691
@henningonsbring @karlnyr There's a lot of upload exceptions raised, and we receive these emails daily. The exception is raised when the upload isn't finished within 24 hours:

[code]

Are you restarting these with the --restart flag? Do you know whjy these are failing?

@eriksjolund there also a lot of errors `sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1040, 'Too many connec

[2020-07-27 08:35] karlnyr commented on #691
I would not dare to say that this is the error that we have been occurring a lot lately, do you have some example families where this has occurred?

To recap our latest issues, there are a lot of cases that already have an old run existing, in many of those cases the statusdb saves the uploaded date for that case. Here, we remove the scout yaml file in the analysis folder and restart with the --re

[2020-07-27 08:53] barrystokman commented on #691
There's a mail to clinical-logwatch today at 9:55 that has the most recents examples.

To allow re-uploads, it seems we want to reset the upload_started_at date after the uploaded_at date has been filled. Not sure if we need a check to prevent unwanted re-uploads, but I can lok into it.

[2020-07-27 09:02] karlnyr commented on #691
Just read it, I know that there are a lot of old cases, that I guess are stored in housekeeper, that for some reason are getting pinged for upload. I don't know whether we want this or not. Otherwise, I think your check sounds good.

[2020-07-27 09:06] barrystokman commented on #691
Draft PR https://github.com/Clinical-Genomics/cg/pull/695, will add tests later.

[2020-07-28 12:03] henningonsbring commented on #685
| aboveglider | no file exist at the path housekeeper suggest for the spring file |
| aceboa | spring file exist where housekeeper suggest |
| acecattle | housekeeper point to a fastq file |
| activejaguar | spring file exist where housekeeper suggest |
| actualgopher | spring file exist where housekeeper suggest |
| amazedraptor | spring file exist where housekeeper suggest for two out of three |

[2020-08-03 05:47] barrystokman opened #700 "Clean customer inbox: cust??? not found"
Cronic detected failure for the command:
bash /home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/clean-customer-inbox-past-dirs.sh

Sun Aug  2 20:00:01 CEST 2020 Deleting:
find: ‘/home/proj/production/customers/cust???’: No such file or directory
find: ‘/home/proj/production/customers/cust???’: No such file or directory

RESULT CODE: 1

[2020-08-03 09:21] talnor commented on #690
cases with external data are missing dates (securefish).

[2020-08-03 14:01] talnor commented on #689
This data was delivered to cust as fastq. Changed 'Data analysis' in statusDB from fastq -> MIP to start analysis. Then changed it back to fastq after starting the analysis.

[2020-08-03 16:06] barrystokman commented on #689
What should we do so the automation doesn't pick it up again and/or throws an error?

[2020-08-04 09:03] #693 closed

[2020-08-05 08:31] talnor commented on #689
We want to run MIP for these cases to compare results with MAF. Would it be possible to allow starting MIP on samples that have 'Data Analysis'=fastq as well?

[2020-08-05 08:43] barrystokman commented on #689
Maybe we can add an option or flag to manually trigger analysis in those cases.

[2020-08-05 08:51] henrikstranneheim commented on #689
I also think that this will be properly solved when we separate `analysis` (mip, balsamic etc) from `delivery` (fastqc, scout, etc). I have asked @patrikgrenfeldt to start looking into splitting these fields from the order portal and let it propagate to the rest of the system.

[2020-08-07 10:25] Mropat opened #701 "Error retrieving bed path for GMSmyeloid5.2 in BALSAMIC"
Problem:
When running balsamic workflows with cg, submitting jobs for samples where capture kit is GMSmyeloid5.2 fails with LimsDataError

Likely culprit:
Panel name returned from LIMS ("gms-myeloid_5.2"), is different from available shortnames for GMSmyeloid5.2 in StatusDB:
GMSmyeloid5.2, gms_myeloid_5.2

Traceback:
[code]
Steps to reproduce
  1. Locate case requiring GMSmyeloid5.2 on stage or ma

[2020-08-07 13:19] barrystokman opened #703 "Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-store-completed.sh >> ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log >&2)"
Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-store-completed.sh

storing family: smartsquid
2020-08-07 14:30:21 hasta.scilifelab.se cg.cli.workflow.mip.store[197859] ERROR case storage failed: smartsquid
Traceback (most recent call last):
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/site-packages/cg/cli/wor

[2020-08-07 14:11] #703 closed

[2020-08-10 14:07] karlnyr opened #705 "CG MIP store blocking queued uploads"
## Description
Recently there has been errors regarding creation of vcf files for smaller gene panels (often coupled to inherited cancer cases). Due to this, cg.cli.workflow.mip.store throws an error resembling the one below:

[code]

This error has been brought up and have been "solved" (if touching these files and tricking cg to store them is worthy of being called a solution).

However, I disco

[2020-08-17 09:30] annaengstrom commented on #628
New AM document created. @henrikstranneheim what is the outlook for working with it?

[2020-08-19 10:43] henrikstranneheim commented on #691
I do not think we are seeing this type of errors anymore. Closing this - please reopen if you disagree

[2020-08-19 10:43] #691 closed

[2020-08-19 12:30] karlnyr opened #713 "CG is automatically restarting failing cases"
CG has started to automatically restart analysis for cases, a feature that would be ideal IF the restart resulted in a successful analysis.

Problem:
Currently, only a fraction of failures can be solved through a restart. This causes a wall of failures in Trailblazer and complicates tracing of what has or what has not been done to solve the issue.

Steps to reproduce
  1. Let cg pick up cases to a

[2020-08-27 11:52] northwestwitch opened #718 "Case from cust uploaded into scout with the wrong gene panels"
A recent case in scout was uploaded with the wrong gene panels: here is the original issue: https://github.com/Clinical-Genomics/scout/issues/2052.

Perhaps something happened at the panel master list after the update? 🤔

[2020-08-27 12:03] northwestwitch commented on #718
Closing this, there was an error in the order!

[2020-08-27 12:04] #718 closed

[2020-08-28 11:18] patrikgrenfeldt commented on #656
Do we usually have that value in LIMS? What is it used for? I don't we use it for anything in cg

[2020-08-28 11:24] patrikgrenfeldt commented on #672
If cg need a higher version of Marshmallow why not specify that version as a minimum in requirements.txt?

[2020-08-28 11:51] patrikgrenfeldt commented on #672
I don't mind having a lock file but it's also nice to have latest and greatest when developing. I guess we can have both somehow?

[2020-08-28 11:52] karlnyr opened #720 "Feature request: stages in MIP from cg directly"
**Background**
When the MIP pipeline fails in a certain stage you are able to use the -sw, --start-with, flag to start from a specified stage in the pipeline. This feature is very handy, as you are not required to rerun the heavier workload tasks. However, this requires the user to know the specific stage name.

**Feature request**
The current version of cg does not allow the user to view get the

[2020-08-28 13:22] moonso commented on #672
Yes this is the point with pipenv and poetry, I have tried to explain this multiple times. There is one file that is similar to `requirements.txt`, for Pipenv this is called `Pipfile`. In this file one does NOT specify locked dependency versions. Then pipenv resolves the dependency tree and generates a `Pipfile.lock` with locked versions. Whenever one want's it is possible to generate a new lock f

[2020-08-31 07:58] moonso commented on #688
@Clinical-Genomics/production this is getting a bit old, is it still a problem? Do you know anything more @northwestwitch @karlnyr ? Please close if upload is working

[2020-08-31 08:13] northwestwitch commented on #688
I'm not aware if this problem is still actual

[2020-08-31 08:16] moonso commented on #688
Ok let's close and reopen if it pops up again

[2020-08-31 08:16] #688 closed

[2020-08-31 11:48] mayabrandi opened #722 "Add upload nipt to cg CLI"
Fetch latest NIPT files and load into the NIPT database via the CLI

[2020-08-31 13:22] moonso opened #724 "Investigate why some dependencies are locked to certain versions"
For several of the dependencies in `requirements.txt` there are locked dependencies. The reason for this is probably that we try to resolve the dependency tree ourselves. However it would be better if `requirements.txt` only states what packages that CG is dependent on and let a dependency resolver, like `pip`, `pipenv`, `flit` or `poetry`, solve the dependency graph. In this issue we can collect

[2020-08-31 14:41] karlnyr opened #725 "Create a work around for cg with inheritance tests"
**Background**
Currently cg is treating inheritance tests and other mip tests as equals. To create inheritance models, a case needs to contain a sample with status set to "affected". However, we would like to keep a logical phenotype for the clinician by reverting this status to unknown, see [this][cg_web_issue] issue for the requested solution in cgweb.

**Problem**
Inheritance testing cases are

[2020-08-31 17:12] moonso commented on #724
# click < 7

There is a specified dependency for click in `requirements.txt`. For some reason we can not use click version >= 7.
We should not have these kinds of locked dependencies if they are not really important. Lets use this issue to keep document the investigation.

## List of tools that have this dependency specified

| Tool | Specified |
|-|-|
| genotype | [no](https://github.com/Clinical

[2020-08-31 17:14] moonso commented on #724
# cyvcf2 < 0.10

Does anyone know why this is locked at all? This is definitely one of the deps that we should try to get rid of from CG for good as it often needs workarounds due to cython

[2020-08-31 17:14] moonso commented on #724
# pymongo<3.7

Guess this is because of Scout. And scout should be decoupled asap

[2020-08-31 17:15] moonso commented on #724
# pysam==0.15.2

Why do we have pysam?

[2020-08-31 17:20] moonso commented on #233
# List of tools to decouple

- [x] Chanjo
- [x] loqusdb
- [ ] trailblazer (@Mropat working on this)
- [ ] housekeeper (@Mropat and @moonso  working on this)
- [ ] genotype
- [ ] scout-browser
- [ ] cgstats
- [ ] cgbeacon (do you have any idea how this can be decoupled @northwestwitch ?)

[2020-08-31 19:53] annaengstrom opened #736 "Status view in orderportal not updated"
It seems samples get stuck in Status steps, screenshot taken just now and this update is not correct, samples are not incoming and in library prep.

Is it correct for customers?

![Screen Shot 2020-08-31 at 9 49 06 PM](https://user-images.githubusercontent.com/36469416/91760828-4a474400-ebd4-11ea-9ee4-dfa2e7b349f2.png)

![Screen Shot 2020-08-31 at 9 48 54 PM](https://user-images.githubusercontent.

[2020-09-01 06:18] northwestwitch commented on #233
For cgbeacon is very easy, we should just remove it from cg. I'll try to make a PR on the next few days. The new beacon should not be coupled with cg, so yes, easy!

[2020-09-01 06:43] moonso commented on #233
Perfect @northwestwitch !

That would be great

[2020-09-01 13:30] moonso commented on #7
I'm closing this as it has grown out of bounds. Let's reopen if necessary and split into smaller ones

[2020-09-01 13:30] #7 closed

[2020-09-01 13:30] moonso commented on #9
This also seems completely deprecated

[2020-09-01 13:30] #9 closed

[2020-09-01 13:31] moonso commented on #19
Is this still an issue @henrikstranneheim ?

[2020-09-01 15:09] henrikstranneheim commented on #19
yes

[2020-09-02 12:08] hassanfa opened #732 "Add changelog to understand what has been changed between releases"
Right now it is impossible to find out what has been changed, or what has been done in each deployment. It is a bit of adventure to read through PR text, comments, and discussions to really understand the whole process.

I suggest to establish a well maintained `changelog.md` to reflect changes between deployment. Maybe release type should be fixed.

[2020-09-02 14:06] #732 closed

[2020-09-02 15:08] #475 closed

[2020-09-02 15:08] #550 closed

[2020-09-02 15:08] #678 closed

[2020-09-03 11:04] elevu commented on #736
Hi, I am moving this issue to CG since I think it is coming from there. When calling the endpoint: https://clinical-api.scilifelab.se/api/v1/cases?status=labprep  from the order portal the response includes cases that are not supposed to be there.

[2020-09-03 11:30] patrikgrenfeldt commented on #736
I'm thinking that this issues arises since we limit how many samples we show and the sort order is oldest first, could it be something like that?

[2020-09-03 11:52] annaengstrom commented on #736
What is the limit of samples?

[2020-09-04 08:23] annaengstrom opened #742 "cg set sample -kv priority set incorrectly to numbers in LIMS"
As a lab person I would like to change sample properties via hasta.

Problem:
When changing priority this is done via numbers (0, 1, 2, 3) for status db (converted to text) but the problem is that the text is changed to a number in LIMS (and is not converted to text), see attachments.

Steps to reproduce
  1. Go to hasta
  2. run 'cg set sample -kv priority 0 LIMS-ID
  3. Press y (changes for stat

[2020-09-04 08:27] annaengstrom commented on #701
@Mropat where is "gms-myeloid_5.2" found?

[2020-09-04 08:48] Mropat commented on #701
@annaengstrom it is a prep category in LIMS
It is set during sample prep. Currently there are two equivalent options for this capture kit that can be set in lims.

I have looked into this, and will need to discuss further with @mayabrandi.

[2020-09-04 09:17] annaengstrom commented on #701
What is the UDF in LIMS and LIMS-ID?

[2020-09-04 09:41] Mropat commented on #701
@annaengstrom ACC6970A1

[2020-09-04 09:51] annaengstrom commented on #701
I can see that "gms_myeloid_5.2" has been set in UDF Bait Set

![Screen Shot 2020-09-04 at 11 50 00 AM](https://user-images.githubusercontent.com/36469416/92226298-cd062280-eea4-11ea-8f79-1f8cc9c8be3d.png)

[2020-09-07 21:02] henrikstranneheim opened #744 "Enabling multiple omics at Clinical Genomics"
## Aim
Enable multiple omics at Clinical Genomics across all operations

## Background
To enable the introduction of multiple omics (DNA, RNA, Cancer) throughout Clinical Genomics the order portal and StatusDB should not hold analysis and delivery information on each individual sample_id. This complicates downstreams process, which requires that each application will have to be pipeline aware on t

[2020-09-07 21:06] henrikstranneheim commented on #744
@Clinical-Genomics/bioinfo @Clinical-Genomics/laboratory Thoughts? Feedback much appreciated

[2020-09-08 05:06] northwestwitch commented on #744
I think it's a really good description of the simplest solution available. 🚀

[2020-09-08 05:24] hassanfa commented on #744
👍 very nice summary of yesterday's discussion. This will fix a lot of issues we have currently.

One thing we forgot yesterday, was analysis types for just QC for those customers that only need fastq delivered. So analysis type in order form should support this as well. What do you think?

Couple of comments:

1. This is multiomics and track support. Cancer is *not* omics per se, but a track. We a

[2020-09-08 05:26] dnil commented on #744
Beautiful start! It might be enough, depending on how one views the case concept, but I would for the sake of clarifying this argue the treatise needs one more level of abstraction, that you repeatedly mention but only as a real world concept. The model class would be

## Analysis
* can contain multiple sample_ids
* can be part of multiple cases (but is typically only part of one)
* has informatio

[2020-09-08 05:47] henrikstranneheim commented on #744
Yes, that would be a specific analysis (e.g. balsamic_qc) and delivery (fastq)

[2020-09-08 05:57] henrikstranneheim commented on #744
@dnil Thx. I added an analysis level definition.
I think it is important that each case have a single responsibility of defining a single analysis to run e..g mip dna analysis. If the same sample also should be part of a cancer analysis - another unique case id with a sample_id constellation will be generated to take responsibility for that analysis. They can then be connected through the subject_

[2020-09-08 06:09] dnil commented on #744
Ok, I would for the sake of taking it to its conclusion argue that that would defeat the purpose of the case level.
What would you then call the level that groups multiple analyses into one story of a particular disorder? Say the disruption of splicing in a gene for a child with one affected and one unaffected siblings, where RNA is available for two of the children, and DNA for the parents and ch

[2020-09-08 06:23] dnil commented on #744
In an ideal world case compositions would be made quite separate from primary and secondary analysis. Setting up a typical case with some individuals might entail a default portfolio of analyses, each for one sample. Computation on the case level would then involve tools like Genmod - which doubles to prepare RD DNA single sample, single analyses  for display, as well as families or more complicat

[2020-09-08 06:28] henrikstranneheim commented on #744
I see your point and I am thinking that this linking of multiple cases will be done from the subject_id level. For example,
- Case_1 (dna): A mip-dna analysis is ordered with a subject_id
  - The mip-dna analysis is performed for the case and uploaded to Scout (no causatives was found).
  - RNA is ordered.
- Case_2 (RNA): Is linked to Case_1 in the order portal via the subject_id.
  - Cg will let

[2020-09-08 06:48] dnil commented on #744
Representing subjects (or perhaps modernly called individuals) is a great improvement over the current situation. I would however argue the example above already shows that it cannot conveniently fill the role of an information integrating level. Individuals can, for various purposes be part of different cases, such as the affected sib in one quad, and the unaffected in another one. This could arg

[2020-09-08 07:20] moonso commented on #744
Perhaps continue this discussion in a dedicated meeting?

[2020-09-08 07:21] dnil commented on #744
But this is so much fun! 😉

[2020-09-08 07:22] dnil commented on #744
It's almost like taking a philosophy class..

[2020-09-08 07:22] moonso commented on #744
To muuuuch teeeexxxttt .....

[2020-09-08 07:23] henrikstranneheim commented on #744
Case is what is used in cg (the tool) today and the definition does not differ except for not allowing multiple analysis pipelines. Today, Scout cannot load a case with multiple analyses. It will depend on which analysis for a case that finishes last. The previous will be overwritten. If a case has multiple analyses - how will each application know what to expect and how to process them (Housekeep

[2020-09-08 07:23] henrikstranneheim commented on #744
But yes - this is really hard to do in this forum

[2020-09-08 07:26] dnil commented on #744
And I would never be able to be precise long enough in spoken language - I would have hand-waved it long ago! Its so obvious..

[2020-09-08 07:28] northwestwitch commented on #744
@dnil train on twitter! 🤣

[2020-09-08 07:36] dnil commented on #744
That is a question to the crux of the matter! The case needs to contain information about what components it has - or rather perhaps have those component and how the investigator wishes to integrate it. If you one-to-one map case and analysis that gets lost and has to be described somewhere else. You will not be able to deduce automagically how to treat the different analyses or individuals withou

[2020-09-08 08:04] henrikstranneheim commented on #744
Yes, by including the sample_ids, type of analysis and delivery

Exactly, this is intentional. If a case has multiple responsibilities - things become very complicated across the systems really fast as each application need to know and handle many different situations. In this model the case will hava single responisbility and end-point.

Yes, and that is precisey why it deserves another process.

[2020-09-08 09:26] dnil commented on #744
Let's try points:

1. Individuals are good. 😄 Just implement it.
1. Individuals it wont solve the issue of how to start the right analyses and integration steps magically. There is still going to be complications with specifying that. Introduce a new concept that can contain/act on the results of multiple analyses - whatever you wish to name it.

I would start from a few use "cases" - imagined ref

[2020-09-08 09:56] annaengstrom commented on #744
Micro samples do not have case_id currently. If the plan is to implement that and subject_id/individual_id, I think subject_id is probably better fit to include micro samples as well.

[2020-09-08 10:02] J35P312 commented on #744
I agree! individual_id is too human centric!

subject_id, or maybe entitiy_id would be more flexible =P

[2020-09-08 10:04] annaengstrom commented on #744
It should be clear, but as generic as possible, and easy to understand for us and our customers.

[2020-09-08 18:49] dnil commented on #744
In case of mord samples we may also not know the individual_id precisely.
Are micro samples sometimes not taken directly from individuals but rather from points in the environment? sample_spawner_id?

[2020-09-10 18:55] hassanfa opened #748 "Mark cases as finished, is it possble?"
There are cases for BALSAMIC, that we disable variant callers for various reason. This manual override is done via BALSAMIC cli right now. There should be a way to mark an analysis as finished under manual intervention.

1. Detect if an analysis_finish file exists
2. Mark a case as finished via cg, is it possible?

[2020-09-14 11:11] keyvanelhami opened #749 "Cannot run balsamic with cg for an old sample"
I get following error when I try to start a paired analyis:

[code]
Both samples exists in housekeeper and they have BALSAMIC tag in status-db:
[code]

![Screen Shot 2020-09-14 at 1 09 39 PM](https://user-images.githubusercontent.com/26735714/93078837-77432e80-f68b-11ea-84ce-356dc3864ae0.png)

[2020-09-14 12:05] Mropat opened #750 "Support analysis of downsampled fastq in Balsamic workflows"
As a busy person, I want to automatically start downsampled cases through cg balsamic cli.

Problem:
Balsamic (Potentially also MIP) workflow fails to fetch capture kit from LIMS when fastq files have been downsampled. This is due to creation of new sample ID in StatusDB which are not added in LIMS.

Steps to reproduce
  1. Run cg workflow balsamic fitbeagle
  2. Observe HTTPError message from LIM

[2020-09-15 06:11] barrystokman opened #754 "Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-store-completed.sh >> ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log >&2)"
storing family: coollamb
bundle already added
2020-09-15 06:31:18 hasta.scilifelab.se cg.cli.workflow.mip.store[103710] ERROR case storage failed: coollamb
Traceback (most recent call last):
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/site-packages/cg/cli/workflow/mip/store.py", line 49, in analysis
    status,
  File "/home/proj/bin/conda/envs/P_main/lib/python3.7/site-packages/cg/meta

[2020-09-15 06:46] barrystokman opened #755 "flowcells not getting correct status `ondisk` after retrieval from PDC"

[2020-09-15 11:13] Mropat commented on #754
This is happening, because coollamb is both a balsamic and a mip case.

When mip starts analysis, it sets the action on case in StatusDB to running. When the analysis is running, cg will periodically check if it is completed. When completed, it stores the bundle in Housekeeper and sets action to None.
This prevents the case to be eligible for automatic start with mip or balsamic in the future (Onl

[2020-09-15 12:01] annaengstrom opened #757 "Add more sample information automatically from orderportal to ticket in SupportSystem"
As a CG person, I want to be able to quickly get an overview of the sample information in SupportSystem to be able to determine next steps needed for a particular sample.

Problem:
Only limited information provided in ticket.

Steps to reproduce
  1. Go to SupportSystem, https://clinical-scilifelab.supportsystem.com/scp/tickets.php?id=36129
  2. No information priority or customer is added.

Expec

[2020-09-15 12:01] annaengstrom commented on #757
This is an issue to extract more information about samples in SupportSystem. Apart from priority and customer number, is there anything else that would be useful to know? @saschaconradt @annagellerbring

[2020-09-15 12:05] vwirta commented on #757
If it is easy to add, I'd like to see the cust number as well. Sometimes it is good to see it in the order so that we can correct it more easily if it is wrong

[2020-09-15 12:24] saschaconradt commented on #757
Apptag is useful, but this information is already in the ticket since a few days :-)

[2020-09-16 08:29] hassanfa opened #760 "Force re-run of BALSAMIC analysis"
As a bioinformatician, there are cases that I do re-run by manually wiping the analysis directory. This is time consuming and could be a problem if the case is not stored.

Problem:
Multiple steps to check if a case is stored, risk of data loss if we have not stored it.

Expected outcome / suggested solution:
For a `--forced` option to exist so when I do `cg workflow balsamic --force start googlyb

[2020-09-16 08:32] hassanfa commented on #760
what do you think @Mropat , can we pass --force to balsamic but double check for store first?

This is also linked to another issue. If `cg workflow balsamic start` fails midway of submitting jobs, the whole analysis directory will be locked, so a forced re-run will solve that one also.

[2020-09-17 11:49] #701 closed

[2020-09-17 11:49] #749 closed

[2020-09-17 11:49] #750 closed

[2020-09-18 09:39] Mropat commented on #663
Is this still an issue? Can someone elaborate when this is happening?
Currently there is no check performed for MIP cases and samples when it comes to read count  - only whether all flowcells have been loaded on disk. Do we still want to start those cases  when not all flowcells have been loaded?

@barrystokman @karlnyr @patrikgrenfeldt

[2020-09-18 09:45] Mropat commented on #620
Additional workaround added in #759 to bypass LIMS query compeltely and provide panel bed name directly via MIP CLI if not set in LIMS or multiple ones are set in LIMS, raising a LimsDataError

Use:
`cg workflow mip-dna config-case soundboar --panel-bed grch37_agilent_sureselect_targets_cre_-v1-.bed`

[2020-09-18 09:45] #620 closed

[2020-09-18 09:52] Mropat commented on #395
This is outdated

[2020-09-18 09:52] #395 closed

[2020-09-18 11:28] Mropat commented on #705
This issue is caused by this [script](https://github.com/Clinical-Genomics/cg/blob/master/cg/cli/workflow/mip/store.py)
A solution could be, instead of doing context.abort(), (which is not an error) in analysis method, raise click.Abort() (since it is an error and can be excepted) and catch it in completed method.

I think it is a very good first issue for @karlnyr !

[2020-09-21 06:50] Mropat opened #762 "Add support to force store incomplete BALSAMIC results in Housekeeper"
Problem:
BALSAMIC workflow may have issues with analyzing certain samples with certain tools. These analyses may never be able to be restarted successfully.

Steps to reproduce
  1. Run a sample with high read count through the BALSAMIC pipeline
  2. Run is not completed due to time-out or one of the tools being unable to process many rads
  3. Try to store analysis in Housekeeper
  4. Analysis wi

[2020-09-21 07:08] hassanfa commented on #762
First the other issue has to be solved: https://github.com/Clinical-Genomics/cg/issues/760

[2020-09-21 07:56] hassanfa opened #763 "BALSAMIC: support for non-human organism (other than microbes!)"
BALSAMIC (QC and non-QC workflow to some extent) will require a proper name of organism provided so it can take the correct reference (internally).

I'd like to have the following provided so it can be passed down to BALSAMIC:
1. Human genome the following version names: GRCh38, GRCh37
2. Dog genome the following version name: CanFam3.1

I'd like to have the following taxon ids to be used as a lin

[2020-09-21 14:29] Mropat opened #766 "Clean the old completed BALSAMIC cases"
Problem:
Old balsamic cases need to be cleaned in order to free up storage space

Expected outcome / suggested solution:
Modify current cg clean balsamic code to remove files which have already been stored in Housekeeper
Modify current cg clean balsamic code to handle permission errors when deleting files

[2020-09-21 14:44] Mropat opened #767 "Spring compression running on newly sequenced fastq files"
Problem:

We are seeing a lot of errors when running `CRON cg workflow mip-dna start`
Example
[code]

case fleetibex is a fairly new case:
![image](https://user-images.githubusercontent.com/35531751/93780849-f3f48080-fc28-11ea-9b1a-ad9501581175.png)

Cases like these have to be manually decompressed and added back by the production team, which sometimes defeats the purpose of cg automation

Expect

[2020-09-21 14:58] henningonsbring commented on #767
To me this sounds like a very good idea. I can only see benefits, and no disadvantages, with compressing the oldest files first!

[2020-09-21 16:10] moonso commented on #767
Sounds good! Feel free to open a PR

[2020-09-21 20:15] Mropat commented on #767
I should have expected this haha

[2020-09-22 06:29] moonso commented on #767
Perhaps @karlnyr can do it with a little assistance from you @Mropat ?

[2020-09-22 07:16] hassanfa opened #768 "Retry a BALSAMIC analysis no more than twice or thrice and take action according to type of failure"
Problem: Data analysis can fail, stall, or get cancelled due to reasons beyond bioinformatic workflow's capacity. There is not much can be done other than restart it after a while.

BALSAMIC doesn't support restart or retry _**WHILE**_ the analysis is running. `cg` has to wait through `trailblazer` for all the current jobs to finish, and then restart it. But no more than three times.

I'd like `cg

[2020-09-22 16:06] Mropat commented on #766
:partying_face:

[2020-09-22 16:06] #766 closed

[2020-09-22 16:07] Mropat commented on #675
Solved temporarily!

[2020-09-22 16:07] #675 closed

[2020-09-22 16:08] Mropat commented on #754
Coollamb should no longer be a problem

[2020-09-22 16:08] #754 closed

[2020-09-28 13:36] keyvanelhami opened #777 ""cg balsamic" is running with wrong bed-file"
As a busy person, I want to drink coffee so that I wake up.

Problem:
Incorrect bed-file is added when running cg balsamic. In status db on sample level, `Twist Exome Comprehensive` is added as bed-file which correlates to `twistexomecomprehensive_10.1_hg19_design.bed`. But when running below command, `twistexomerefseq_9.1_hg19_design.bed` is used instead.

Steps to reproduce
`cg workflow balsamic

[2020-09-29 12:57] barrystokman opened #779 "Add store completed functionality to microsalt workflow"
Since cg version 13.3.0 it is possible to store a completed microSALT analysis in Housekeeper with the command `cg workflow microsalt store analysis` and providing it with a path to a deliverables file.

New CLI functionality needs to be added that will enable storing of all completed microSALT analyses using `cg workflow microsalt store completed`

Typically the deliverables file is stored under

[2020-10-05 08:20] hassanfa commented on #454
Seems like this happened again, related deviation is 41 and 42 on AMDoc from exactly a year ago :-)__

[2020-10-05 11:27] #777 closed

[2020-10-05 11:30] keyvanelhami commented on #777
The reason for this is because cg is getting bed-file info from LIMS

[2020-10-06 11:22] henningonsbring opened #783 "Changing customer ID via CLI on family level"
Right now I can change the customer on sample level via:
`cg set sample -kv customer CUST_ID SAMPLE_ID`

I can also change the customer for all samples in a family via:
`cg set samples -kv customer CUST_ID FAMILY_ID`

However, to my knowledge, there is no way to change the customer ID on family level via the CLI. This is a feature we need to avoid spending long time with manually clicking in statu

[2020-10-12 07:13] hassanfa opened #785 "Custom cli options for workflows based on analysis and order context"
A bit broad title, but hear me out.

BALSAMIC, and workflows in general, have complex procedures to provide a correct and reliable result. To be able to do this, `cg` has to provide correct parameters to the workflow. This is also tightly related to what we deliver.

Case 1: `mutect2` is a somatic variant caller that won't perform well in some analysis due to high or low coverage, and will stall f

[2020-10-12 07:14] hassanfa commented on #785
Further comment: This is very similar to provide tumor or tumor-normal BALSAMIC. It is a similar type of logic.

[2020-10-14 07:32] patrikgrenfeldt commented on #783
There was already functionality to set customer on family level "cg set family -c [customer_id]".

I think you miss the functionality to set customer on many families at once, for example all families in a ticket, that issue is resolved by #786

[2020-10-14 07:32] #783 closed

[2020-10-14 09:41] hassanfa opened #787 "Keep track of trended cases"
## Description

As a Vogue developer and bioinformatician, I'd like to be able to keep track of what has been uploaded to Vogue. Right now clinical-db doesn't keep track of this, and one ends up uploading all cases every time.

I'd like to have an option to update every time a Vogue upload happens. I think this should be in the following table:

![image](https://user-images.githubusercontent.com/1

[2020-10-14 09:42] hassanfa commented on #787
@Mropat could you please give this a go?

[2020-10-14 11:18] emmser opened #788 "MIP doesn't start automatically for research priority"
MIP doesn't seem to start automatically for projects with priority research. Now with so many samples in production it's hard to keep track of analyses that are treated differently.

[2020-10-14 15:18] Mropat commented on #785
I think if production needs this and uses this routinely, it is worth implementing. The way I would do it is not by adding every option in Balsamic to cg workflow balsamic, because this is how we revert back to having way too many options again. Perhaps we can have an option to add custom string to process call without declaring every option?

But, by giving the end user the opportunity to send ma

[2020-10-14 15:22] #574 closed

[2020-10-14 15:33] hassanfa commented on #785
We should avoid sending magic commands to process call, and we should certainly avoid making cg aware of every single balsamic cli option.

Instead we should have balsamic cli options in process call given the context. As we discussed briefly before, example is to disable Mutect2 for all whole exome applications or those TGA panels with very high coverage >4000x (this can be estimated from applica

[2020-10-16 07:51] moonso opened #791 "Pass phenotype terms from order form"
The hospital has implemented support for exporting HPO phenotype terms from their own LIMS. We need to forward them all the way to Scout.

## This can be closed when:

Phenotype terms from order form should show in Scout

- [x] New fields are added to database
- [x] New fields are parsed from orderform
- [x] Information is passed in scout load config

## Blocked by

#981

[2020-10-19 19:49] hassanfa opened #793 "Disable mutect2 for WES samples in balsamic"
Mostly related to https://github.com/Clinical-Genomics/cg/issues/785

cg has to instruct BALSAMIC to disable mutect2 in `balsmaic run analysis` command by passing the following option:

`--diable-variant-caller mutect`

[2020-10-19 19:50] hassanfa commented on #793
@Mropat, could you prioritize this? Lots of BALSAMIC runs for wes keep failing and I'd like to avoid this happening as soon as possible.

[2020-10-20 07:32] emmser opened #794 "Deliver all Fastq files with CG"
Today we have some bash-functions for delivery of fastq-files. Those collect the fastq-files for a sample/project or a flow cell and links the files in a dir on hasta. This makes it easier for us in production to deliver the files to caesar (syncing) since they are all collected in one place.
The functions below should be moved to options in cg instead.

Description of the bash-functions that we h

[2020-10-20 08:05] moonso commented on #794
I'll be happy to implement this 😄 .

## Some questions
- Who else has knowledge about the current process?
- Could you type exactly how the command is run today?

[2020-10-22 11:34] #705 closed

[2020-10-22 13:15] karlnyr opened #799 "Automatically start decompression and store upon call of analysis"
## Story
Currently we are spring compressing files to save our storage on hasta which is great in terms of disk space. However, new samples often arrive that are getting linked to one/many older sample(s). Also, if a re-run is submitted on an old sample their files are very likely to be compressed. With the current set-up production are required to start the decompression process on a case, which

[2020-10-23 05:50] Mropat opened #800 "New fields in StatusDB"
Problem:
There have been several requests for new fields to be added to StatusDB to track additional states of samples, cases and analyses. This Issue will be used to collect them all in once place and discuss implementation.

- Compression status field -  Sample/Family table
- Trended_at field - Family table
- Additional allowed values in status field - Family table (rerun, ignore)
- Delivery - F

[2020-10-23 06:04] hassanfa commented on #800
Could we consider having problematic and validation cases in statusdb as well?

It's be cool to add cases to no-compression list from CLI.

[2020-10-23 06:23] Mropat commented on #800
@hassanfa great idea!

[2020-10-23 06:51] karlnyr commented on #755
Is this not done in a previous PR @barrystokman?

[2020-10-23 07:08] barrystokman commented on #755
Yes, PR https://github.com/Clinical-Genomics/cg/pull/761 was created to solve this issue.

[2020-10-23 07:08] #755 closed

[2020-10-23 07:30] moonso commented on #800
Sound good! Please link the other issues to this one

[2020-10-23 08:07] Mropat commented on #153
@ingkebil  @henrikstranneheim  Do we still want this?

[2020-10-23 11:48] henrikstranneheim commented on #153
Yes, but only for reruns i.e. a "rerun" the trigger should be that Action is set to "rerun" in StatusDB

[2020-10-23 11:51] hassanfa commented on #153
Piggy backing on this: It is a similar situation for BALSAMIC.

[2020-10-23 12:16] #767 closed

[2020-10-23 12:16] #793 closed

[2020-10-23 14:43] henrikstranneheim commented on #667
@barrystokman What is the status of this one?

[2020-10-23 14:46] henrikstranneheim commented on #593
Done! 🎉

[2020-10-23 14:46] #593 closed

[2020-10-23 14:48] henrikstranneheim commented on #579
Duplicate of https://github.com/Clinical-Genomics/cg/issues/794. Closing this one as it not as complete

[2020-10-23 14:48] #579 closed

[2020-10-23 14:50] henrikstranneheim commented on #559
@patrikgrenfeldt and @elevu Is this still the case?

[2020-10-23 14:51] henrikstranneheim commented on #547
@mayabrandi What is the status of this?

[2020-10-23 14:52] henrikstranneheim commented on #546
@mayabrandi What is the status of this?

[2020-10-23 14:56] henrikstranneheim commented on #420
@karlnyr Would you like to have a quick look at this one and see if this is still an issue and if so if you can implement a working dry-run flag?

[2020-10-23 14:57] henrikstranneheim commented on #419
@patrikgrenfeldt Think this one is done right?

[2020-10-23 14:58] henrikstranneheim commented on #369
@hassanfa Done right?

[2020-10-23 14:59] henrikstranneheim commented on #368
Stale - closing. Reopen if you disagree

[2020-10-23 14:59] #368 closed

[2020-10-23 15:00] hassanfa commented on #369
It is done! ⭐

[2020-10-23 15:00] #369 closed

[2020-10-23 15:02] henrikstranneheim commented on #291
@patrikgrenfeldt Is this not done?

[2020-10-23 15:06] henrikstranneheim commented on #159
@patrikgrenfeldt @moonso Done?

[2020-10-23 15:08] hassanfa commented on #291
paneldb repo is deprecated and we have target_bed_capture instead.

[2020-10-23 15:08] henrikstranneheim commented on #152
Will bbe handled in https://github.com/Clinical-Genomics/cg/issues/233. Closing

[2020-10-23 15:08] #152 closed

[2020-10-23 16:54] #291 closed

[2020-10-24 10:32] henrikstranneheim commented on #122
@emmser Is this still relevant?

[2020-10-24 10:33] henrikstranneheim commented on #119
@barrystokman Still relevant or should we close this one?

[2020-10-24 10:34] henrikstranneheim commented on #114
@vwirta @mayabrandi How is this handled today? Is this still an issue

[2020-10-24 10:37] henrikstranneheim commented on #112
The external fastq files should be added to StatusDb and HK and then handled by the usual fastq to spring compression. Spring files will then be transferred to PDC or other archive with the rest of the spring files, when that system is in place.

[2020-10-24 10:37] #112 closed

[2020-10-24 10:38] henrikstranneheim commented on #108
@patrikgrenfeldt Still relevant?

[2020-10-24 10:39] henrikstranneheim commented on #90
Done

[2020-10-24 10:39] #90 closed

[2020-10-24 10:40] henrikstranneheim commented on #78
Duplicate of https://github.com/Clinical-Genomics/cg/issues/794. Closing

[2020-10-24 10:40] #78 closed

[2020-10-24 10:41] henrikstranneheim commented on #40
@emmser Do we still need this?

[2020-10-24 10:43] henrikstranneheim commented on #23
@emmser Is this still an issue?

[2020-10-26 05:13] patrikgrenfeldt commented on #108
@emmser , would having this add anything for you in production? If not, please close this issue

[2020-10-26 07:38] barrystokman commented on #667
I haven't looked at it. I realize now that the problem is slightly different, but still an issue. The status `ondisk` refers to raw data being present on either hasta or thalamus, not demultiplexed data. That status however is not correctly set to `removed` by our clean up scripts however. There's two things that need to be done:

1) set flowcell status to removed in the clean up scripts, we shoul

[2020-10-26 07:44] barrystokman commented on #119
It's relevant, the current and very arbitrary number of maximum flowcells is not a very solid solution. However, I don't think we ever ran into problems with disk space due to fetching from PDC, so I wouldn't make this a very high priority.

[2020-10-26 07:47] patrikgrenfeldt commented on #419
resolved by #606

[2020-10-26 07:47] #419 closed

[2020-10-26 12:35] #249 closed

[2020-10-26 12:35] #319 closed

[2020-10-26 12:35] #320 closed

[2020-10-26 12:35] #520 closed

[2020-10-26 16:38] karlnyr commented on #420
Sounds good, I'll give it a quick look @henrikstranneheim !

[2020-10-26 17:32] moonso opened #806 "Merge deliver analysis commands"
## Current situation

ATM there are four more or less identical delivery commands implemented for the workflows:

- https://github.com/Clinical-Genomics/cg/blob/master/cg/cli/workflow/balsamic/deliver.py
- https://github.com/Clinical-Genomics/cg/blob/master/cg/cli/workflow/microsalt/deliver.py
- https://github.com/Clinical-Genomics/cg/blob/master/cg/cli/workflow/mip_dna/deliver.py
- https://github

[2020-10-26 17:40] moonso commented on #806
# Tags for delivery types

## Balsamic

### balsamic

[code]

### balsamic-qc

@hassanfa @emmser @keyvanelhami can you help to fill in here

## microsalt

### microsalt

[code]

### microsalt-qc

@talnor @sylvinite could you help to fill here

[2020-10-27 07:03] mayabrandi commented on #114
I believe there is a hardcoded exception for cust001 in the code. I can handle this issue as I’m integrating NIPT in the invoicing.

[2020-10-27 07:04] mayabrandi commented on #546
Nothing is done about it. I could take care of it at the same time as I’m working with NIPt in the invoicing

[2020-10-27 10:07] keyvanelhami commented on #806
@moonso do you want us to add what files to deliver in `balsamic-qc` ? Or what qc parameters to check for if the analysis passed or not?

[2020-10-27 11:47] keyvanelhami opened #809 "Failed analysis on Sention"
**Case or sample information**
Internal sample id or case id: toughdingo
Amount read-pairs: 375M for Tumor and 350 for normal
Sequence type (WES, TGA, WGS): WGS

**Error message**
`[mem_sam_pe] [mem_sam_pe] [mem_sam_pe] paired reads have different names: "A00689:49:HKWN2DSXX:1:2124:10773:34648:UMI_CCTTT_AACTG", "A00689:49:HKWN2DSXX:2:1101:1054:1000:UMI_CCTTT_AACTG"`

**Link to the error message**

[2020-10-27 12:30] moonso commented on #806
Yes what tags to use when delivering balsamic-qc

[2020-10-27 12:31] keyvanelhami opened #808 "Failed analysis on Sention"
**Case or sample information**
Internal sample id or case id: toughdingo
Amount read-pairs: 375M for Tumor and 350 for normal
Sequence type (WES, TGA, WGS): WGS

**Error message**
`[mem_sam_pe] [mem_sam_pe] [mem_sam_pe] paired reads have different names: "A00689:49:HKWN2DSXX:1:2124:10773:34648:UMI_CCTTT_AACTG", "A00689:49:HKWN2DSXX:2:1101:1054:1000:UMI_CCTTT_AACTG"`

**Link to the error message**

[2020-10-27 12:33] hassanfa commented on #808
This is an issue caused by cg concatenation, spring decompression, or topup. Fastq files are damaged, unsorted, or corrupted.

[2020-10-27 12:44] emmser commented on #108
I don't know what this is about

[2020-10-27 12:49] emmser commented on #122
It's not relevant if we have all delivery options for all customers in cg, maybe the split of analysis and delivery in cg will solve this issue, at least for most of cases

[2020-10-27 12:51] emmser commented on #40
Not if we from now store all fast-files on hasta, more easily used for re-runs

[2020-10-27 12:54] emmser commented on #23
Upload is still slow, it depends on how much time we want to remove from delivery? Now when we deliver manually it's maybe not very critical, but if delivery should be automated this can reduce time for delivery with hours.

[2020-10-27 14:10] #108 closed

[2020-10-27 14:20] moonso commented on #806
Ok so @emmser @keyvanelhami @hassanfa  @talnor @sylvinite I just realised that we might need to have another layer of delivery tags. Some files should be delivered per sample and some per case as you can see in the MIP example above. Please clearify if the tags are on sample- or case level. Thx

[2020-10-27 14:26] hassanfa commented on #806
I'm not sure I can look into this soon, but maybe next week? Unless it is blocking your progress and implementation.

[2020-10-27 14:36] moonso commented on #806
Next week is fine

[2020-10-27 14:54] moonso commented on #809
If you want to make this an issue in CG I think you need to update the issue description and the name of the issue which is very specific to balsamic @keyvanelhami @hassanfa . It might be better that you begin by investigating what has happened and then open an issue in CG that describes what needs to be fixed. I'm closing this in the meantime.

[2020-10-27 15:05] hassanfa commented on #809
I am confused about resistance ;-) Fastq files for toughdingo are corrupted and not sorted. I'd like to keep this open for investigation.

[2020-10-27 15:05] hassanfa commented on #809
I edited the text body

[2020-10-27 15:09] hassanfa commented on #809
Ultimately we should open a deviation for this, but that's too much trouble for now. Reanalysis is not Possible at the current state of FastQ files.

[2020-10-27 20:34] Mropat commented on #809
Reanalysis is possible manually if files are sorted using easily accessible bioinformatics software. Yes it's not a routine task but perhaps it could be implemented to solve this temporarily, instead of losing the files

[2020-10-27 20:57] hassanfa commented on #809
Of course. It would be great to find the root cause before closing this issue. I am not worried about lost files or anything, I am more worried that it might happen again without us having a clear understanding of what is going on.

[2020-10-28 07:50] keyvanelhami commented on #809
Me and @henningonsbring tried to check which fastq-file had the `A00689:49:HKWN2DSXX:1:2124:10773:34648:UMI_CCTTT_AACTG"` header and we found it in sample `ACC5821A1`:

`home/proj/production/demultiplexed-runs/190716_A00689_0049_AHKWN2DSXX/Unaligned-Y151I10I10Y151/Project_568664/Sample_ACC5821A1/HKWN2DSXX_568664_S18_L001_R1_001.fastq.gz
@A00689:49:HKWN2DSXX:1:2124:10773:34648 1:N:0:GCACGGACAT+GTCT

[2020-10-28 07:54] hassanfa commented on #809
Can you check if the fastq IDs are indeed matching this sample? Is there a cross sample contamination?

[2020-10-28 07:57] henningonsbring commented on #809
The number of lines in both files are evenly divided by 4, when looking at the shorter file with "tail" it looks good, and end in a way you expect a fastq-file to end. Even though this quick analysis for the integrity of the fastq-file is not complete, it does not seem like the file is corrupted.

[2020-10-28 08:16] keyvanelhami commented on #809
@hassanfa The flow-cell id is written in the fastq-path `190716_A00689_0049_AHKWN2DSXX` and they are the same.

[2020-10-28 09:38] ashwini06 commented on #809
@keyvanelhami Have you looked into fastqc reports if there is any kind of overrepresented sequences/adapter contaminations shown up.

[2020-10-28 10:42] moonso commented on #809
Perhaps you could start by identifying what are the common denominator for the files when this problem occurs. It sounded like there where old cases that had been decompressed from spring, concatenated fastqs and topup.

[2020-10-28 11:03] hassanfa commented on #809
This case is barely a year old.

Decompressed fastq files have fewer read than old ones.

My theory is that compression is not aware of some reads in read2.

Måns, I think it is better if you take lead on this. You know the whole process in and out. For me it is a complete black box what is going on...

This is a whole genome application, it might affect mip as well at some point. (Hopefully this

[2020-10-28 13:03] keyvanelhami commented on #809
So just to summarized:
- This case has two samples, one nomal and one tumor
- **ACC5838A1** has been sequenced twice (top-up) where 16 fastq-files (8 from each sequencing run) are available. The R1 and R2 for each of the fastq-file pairs have exactly the same number of reads.
- **ACC5821A1** has been sequenced once where 8 fastq-files. The R1 and R2 for one of the fastq-files **doesn't** have the

[2020-10-28 13:18] moonso commented on #809
Sounded like @Mropat had some input on this as well. I don't know the process in and out @hassanfa but I'll be happy to help out on the compression/decompression part. All tests we have done (me @moahaegglund and @henrikstranneheim ) have showed lossless results.

[2020-10-28 13:24] keyvanelhami commented on #806
@moonso I updated what files that should be delivered on sample level and case level.

What do you mean with `balsamic-qc` ? Do you mean which qc-files that are going to be delivered? The only qc file to be delivered is `multiqc-html` which is already in the list

[2020-10-28 13:28] moonso commented on #806
Great!

If you want to have two types of delivery. One that include many files and one that only include a qc-report. In that case you could add only that tag to the balsamic-qc delivery

[2020-10-28 15:06] hassanfa commented on #809
I see. So case of files being corrupted is closed.

We should then look into how concatenation works, and why non-topped up sample has mismatching number of reads.

I can't insist enough why we need to get to bottom of this. This is a result of automated process. Hopefully it is because of human error and not a flawed logic in the code.

[2020-10-28 15:08] moonso commented on #809
Could we try to recreate the situation with some smaller test files?

[2020-10-28 15:08] hassanfa commented on #809
I think ultimately we should do the following:

1. demux the original flowcell(s) and store the reads.
2. Follow same compression and decompression logic and find out where in the process we are losing reads in read1/2.
3. Repeat same process in current housekeeper/cg flow.

[2020-10-28 15:49] Mropat commented on #800
@patrikgrenfeldt as someone most qualified for this, do you feel like you have time to perhaps implement some of these? Perhaps even all in one PR - since adding this is backwards compatible and enables further development

[2020-10-28 16:14] henningonsbring commented on #809
All fastq-headers start with "@A00689:49:HKWN2DSXX" in both forward and reverse. Did this check to see if some data was concatenated into the bigger file that was not supposed to be there. This suggests the shorter file has lost data.

[2020-10-28 16:40] moonso commented on #809
Could someone list what commands that are are run during concatenation and topup with what parameters? Then it would be fairly easy to construct small tests with some edge cases like duplicated reads etc in some small fastq files.

[2020-10-30 15:46] hassanfa commented on #809
A second case with similar error and mismatching FastQ reads: `hotoyster`

BWA MEM complained as following:
[code]

[2020-10-30 16:03] hassanfa commented on #809
To make sure BALSAMIC is not the cause, I ran `bwa mem` on original FastQ files, and same error:

[code]

Output:
[code]

This clearly shows there is a flaw in the logical path of `cg` to provide correct FastQ files to BALSAMIC.

[2020-10-30 16:05] hassanfa commented on #809
To make sure BALSAMIC is not the cause, I ran `bwa mem` on original FastQ files, and same error:

[code]

Output:
[code]

This clearly shows there is a flaw in the logical path of `cg` to provide correct FastQ files to BALSAMIC.

[2020-11-02 08:46] keyvanelhami commented on #631
We are currently unable to upload WGS Balsamic analysis in Scout. The cases in following issue are going to be uploaded in Scout https://github.com/Clinical-Genomics/Cancer-project/issues/66.

See following error message:
[code]

[2020-11-02 09:05] hassanfa commented on #631
Correction: Above is BALSAMIC output, and we want to move Scout config generation to `cg` from `balsamic`.

[2020-11-02 09:26] hassanfa commented on #806
So as discussed this morning, Keyvan will go through the items in tags and add more relevant ones:

1. Move sample level tags from case to sample
2. Confirm these tags exist: `quality-trimmed-fastq-read1` and `quality-trimmed-fastq-read2` and add them to sample level

[2020-11-02 10:01] moonso commented on #631
Yes I will start to work on that as soon as I'm finished with the delivery part

[2020-11-02 10:58] henrikstranneheim commented on #779
@barrystokman Is this done?

[2020-11-02 10:59] henrikstranneheim commented on #742
@annaengstrom and @patrikgrenfeldt Is this still an issue?

[2020-11-02 11:01] henrikstranneheim commented on #700
@barrystokman Is this reoccurring or can we close this one?

[2020-11-02 11:11] barrystokman commented on #779
@henrikstranneheim no, I actually need to implement a fix to get it to fully work, I'll put an item on the project board for it. It's about correcting the path to the deliverables file and the status of the analysis not being set in the `run` CLI command

[2020-11-02 11:13] barrystokman commented on #700
@henrikstranneheim the issue hasn't occurred, we can close this

[2020-11-02 11:13] #700 closed

[2020-11-02 11:41] keyvanelhami commented on #806
@moonso  Looking at housekeeper, Balsamic analysis doesn't have a combination tag called `clinical-vcf-pass`. Take a look yourself: `housekeeper get bundle gamesloth- v`

Do you require a combination tag or can I add below files individually?
[code]

[2020-11-02 11:49] keyvanelhami commented on #631
Is there a way to upload Balsamic-wgs sample in Scout while waiting for cg? I have several cases in ticket 300186 that needs to be uploaded to Scout

[2020-11-02 11:57] annaengstrom commented on #742
yes, unless fixed outside this issue?

[2020-11-02 11:59] barrystokman commented on #779
WIP PR here: https://github.com/Clinical-Genomics/cg/pull/813

[2020-11-02 12:10] northwestwitch commented on #631
Hi, you could always create a scout config file manually. I don't have access to any the cancer analyses but take a look at the config file of some previous cancer case already uploaded and try to create something similar.

[2020-11-02 12:27] keyvanelhami commented on #631
@northwestwitch Have we uploaded WGS cancer samples before in Balsamic? @hassanfa do you have any example yaml-file?

[2020-11-02 12:45] henrikstranneheim commented on #656
Done! This is handled on case level now. Reopen if you disagree

[2020-11-02 12:45] #656 closed

[2020-11-02 14:53] hassanfa commented on #631
These four WGS cases are uploaded to Scout: https://github.com/Clinical-Genomics/Cancer-project/issues/30

[2020-11-03 06:00] hassanfa commented on #806
I looked through the tags for BALSAMIC, and it'll take time to prepare a proper single unique tag. The current design does not allow for such change. We have to go ahead with a tuple of tags. And an empty `SAMPLE_TAGS` since some files don't have proper case or sample tag in housekeeper.

### balsamic

[code]

### balsamic-qc for Panel and WES

[code]

### balsamic-qc for WGS

[code]

@moonso Does

[2020-11-03 13:51] keyvanelhami opened #815 "bed-version not added to status-db and unable to start cg"
Problem:
Unable to start balsamic automatically since bed version is missing. I am unsure if this is cg or status-db related so I also tag @patrikgrenfeldt

[code]

The samples are provided bait set in LIMS, but this info is missing in status db:
https://clinical-lims.scilifelab.se/clarity/work-complete/159444
https://clinical-api.scilifelab.se/admin/sample/?search=ACC7117A17

Steps to reproduce

[2020-11-03 14:25] karlnyr opened #816 "feat request: decompress on project or flowcells"
**Background**
Decompression is currently handled on a sample level. However there are cases when multiple samples in an order, a whole project project, or a flowcell needs to be decompressed. At the time, this would require the user to find all the cases on said project, order or flowcell and one by one decompress them.

**Expected outcome / suggested solution:**
Include options for decompression

[2020-11-03 15:20] Mropat commented on #815
@keyvanelhami  what is the bair set called in LIMS?
@hassanfa are we missing the panel_bed in the database perhaps?

[2020-11-03 15:31] hassanfa commented on #815
@Mropat
**Problem is obvious here:** Looking into clinical-api, this sample has no panel bed assigned to it. Thus `cg` fails.

**Solution:** A process upstream is causing the problem. Talk to someone in lab and ask them to make sure assigned capture kit made it through order process to, and then update clinical-api.

[2020-11-03 19:22] Mropat commented on #815
@hassanfa the panel bed is never set in clinical anyway. We get capture kit from lims (where we know it was it's set) and then we use it look up panel bed in the panel table. So the capture kit in lims isn't asssociated with any bed in clinical.

[2020-11-04 07:45] keyvanelhami commented on #815
Taking @annaengstrom in the conversation. It seems like the "bed version" is missing in the LIMS step (see red circle below). Is the bed-version added manually or is it provided automatically when choosing bait set ?

The analysis didn't start automatically and we need to know if this is a bug or human error related.

![Screen Shot 2020-11-04 at 8 42 13 AM](https://user-images.githubusercontent.co

[2020-11-04 07:55] annaengstrom commented on #815
@mayabrandi this UDF is supposed to be "required", can you check what happened?

[2020-11-04 08:00] annaengstrom commented on #815
No bug, not human error in this step.
![Screenshot 2020-11-04 at 08 57 29](https://user-images.githubusercontent.com/36469416/98084244-d21f2800-1e7b-11eb-8c21-01126f5f488b.png)

We set the UDF "Bait set" manually, and this step is "required" meaning we cannot go forward without setting it. The filed missing is UDF "Capture Library version". What is this UDF used for in the analysis? As I remember

[2020-11-04 08:04] annaengstrom commented on #815
As we set it, UDF "Capture library version" is set by customer in order, for us to know for PAN app tags which panel to use. It should ideally only be information from customer to the lab staff, but should not involve analysis. It seems orderportal somehow is updated...
@patrikgrenfeldt @elevu is UDF Capture library version in orderportal free text? This is not set by orderform, and only gives ref

[2020-11-04 08:06] annaengstrom commented on #815
bait set cannot be set via order, as customer does not know which version we use. The UDF is required in LIMS and we cannot proceed without filling it out

[2020-11-04 08:33] keyvanelhami commented on #815
I added the capture kit manually `cg set sample ACC7117A17 -kv capture_kit exome_comp_10.1` but still I am unable to start the analysis. @Mropat Any ideas why?

[code]

<img width="729" alt="Screen Shot 2020-11-04 at 9 32 34 AM" src="https://user-images.githubusercontent.com/26735714/98087609-a488ad80-1e80-11eb-80bd-6427e1684ce2.png">

[2020-11-04 09:15] Mropat commented on #815
Unfortunately the cg code is not looking at capture kit field and is always fetching it from LIMS.
A suggestion to solve this temporarily for the samples where it is a problem: provide panel bed name as an argument to `cg workflow balsamic run `  for cases where human error ocurred. This bypassed lims and gets panel path from CG instead

[2020-11-04 09:43] keyvanelhami commented on #815
Thanks Maria. I have now started the affected cases manually

[2020-11-04 09:55] annaengstrom commented on #815
Do you know what the initial problem was?

[2020-11-04 10:00] keyvanelhami commented on #815
I have only started the analysis **manually** while we are investigating the root of this problem. So no, I don't know why this problem happened

[2020-11-04 18:36] Mropat commented on #603
@henrikstranneheim is this still a problem?

[2020-11-04 18:38] Mropat commented on #580
This has been fixed

[2020-11-04 18:38] #580 closed

[2020-11-04 20:19] henrikstranneheim commented on #603
I do not know - what do you say @annaengstrom @annagellerbring ?

[2020-11-04 20:19] henrikstranneheim commented on #603
Is this something that will be fixed when the mip panel pipeline is part of cg?

[2020-11-04 20:27] annaengstrom commented on #603
This is an orderportal issue

[2020-11-05 07:23] moonso commented on #580
Could you reference where this was fixed (PR) or explain the solution @Mropat ?

[2020-11-05 08:07] moonso opened #819 "Compress fastq files based on date"
When compressing fastq files they are chosen by fetching all cases and then checking that `completed_at` exists on the latest analysis object. Sometimes when new samples are added to an existing family this type of search will think that the analysis is completed even though the new fastq files have not been analysed.

## Problem
Fastq files sometimes get compressed to spring even though they have

[2020-11-05 08:15] Mropat commented on #580
ontahr  and its samples in ClinicalDB
![image](https://user-images.githubusercontent.com/35531751/98213587-9486d180-1f45-11eb-9ba3-6aa8742b32f7.png)

Fastq files in HK
![image](https://user-images.githubusercontent.com/35531751/98213805-ec253d00-1f45-11eb-8bc3-41c52c1826fc.png)
Due to strange naming convention of those files, cg link name parsing function will rename the files in a way that's not

[2020-11-05 08:31] emmser commented on #819
Looks good

[2020-11-05 09:10] moonso commented on #580
Perfect! Good to know when this happens again

[2020-11-05 09:37] mayabrandi commented on #815
The problem is that then new twist v3 workflow has not been updated in the lims config file in cg. [This PR ](https://github.com/Clinical-Genomics/cg/pull/818)will fix that problem. It is my fault. I forgot to update the config in cg when creating the new workflow.

[2020-11-05 11:40] #815 closed

[2020-11-06 07:41] emmser opened #821 "before clean_up, make sure that no new analysis has been started for a case"
Before cleaning up a case-folder in pipeline structure, make sure that no re-run analysis has been started for that case that haven't been stored yet. Case could have been started and failed analysis. In that case the analysis hasn't been stored.
Happens for example when a sample has been added to an old case by the customer, the case already has an analysis that is completed, but will be analysed

[2020-11-06 08:13] hassanfa opened #822 "[BUG] dry-run still submits jobs to cluster"
![image](https://user-images.githubusercontent.com/1086877/98342139-47bbfd00-2010-11eb-89e1-b65663ef0f09.png)

[2020-11-06 08:18] hassanfa opened #823 "[BUG] "cg workflow balsamic -a qc -d start CASEID" doesn't start qc workflow but "cg workflow balsamic start CASEID -a qc -d" does"
`cg workflow balsamic -a qc start CASEID` doesn't work but `cg workflow balsamic start CASEID -a qc -d` works.

Old text:
Related to #822 as well. `-a qc` doesn't instruct BALSAMIC to run QC only workflow and submits all jobs to cluster:

![image](https://user-images.githubusercontent.com/1086877/98342659-06781d00-2011-11eb-834a-14ed10fe6709.png)

Still says:

`Running analysis for keytahr
Running

[2020-11-06 09:15] moonso commented on #823
Would it be possible that you have a look at the code @hassanfa ? Perhaps together with me or someone be else

[2020-11-06 09:19] hassanfa commented on #823
I wish I could.... I am drowning in work.

[2020-11-06 09:23] moonso commented on #823
We are all in the same situation. Clinical-db and thalamus are going to be shut down in 1,5 month. We all have to prioritize really hard now for a while. I think we will have a much better chance to fix this together with the expert, in this case the expert is you.

[2020-11-06 09:25] hassanfa commented on #823
I disagree, but I don't have the whole picture.

I can't dedicate any time until next year, it is only BALSAMIC until early 2021.

[2020-11-06 09:59] henrikstranneheim commented on #576
@patrikgrenfeldt Can we close this one?

[2020-11-06 10:13] hassanfa opened #824 "[BUG] Can't restart old un-stored, but storable cases for BALSAMIC"
Some cases that are not stored, blocking the rerun for re-analysis. All the cases in `${PROD_PATH}/cancer/cases` that are pre-`6.x.x` release are not possible to store.

This happened today when @keyvanelhami  was trying to rerun an old-unstored case.

For how to tackle this issue see: https://github.com/Clinical-Genomics/servers/issues/441
For how to properly re-run a balsamic analysis see: https

[2020-11-06 10:14] hassanfa commented on #824
This is also blocking restart and re-analysis of some positive control cases.

[2020-11-06 10:22] hassanfa opened #825 "Properly instruct BALSAMIC to run QC workflow for MH cases"
BALSAMIC is capable running in `qc` only mode since release `3.X.X`. And `cg` is supporting it since couple of month ago: https://github.com/Clinical-Genomics/cg/pull/687

Related prio 3 project: https://github.com/Clinical-Genomics/cgp-mh-fastq-delivery

MH samples can be problematic and break variant calling runs for various reasons (it is outside of scope of this issue), so we preferably want t

[2020-11-06 12:41] henrikstranneheim commented on #824
@keyvanelhami Could you look into this?

[2020-11-06 12:57] keyvanelhami commented on #824
@henrikstranneheim sure, I will ask Patrik if we can help me extracting the affected cases

[2020-11-06 14:36] moonso commented on #819
Fixed in #820

[2020-11-06 14:36] #819 closed

[2020-11-06 16:16] Mropat commented on #822
Command runs fine in dry run
![image](https://user-images.githubusercontent.com/35531751/98388777-7a3b1980-2053-11eb-9bf2-eff344818544.png)

Here it is running with qc flag and dry run
![image](https://user-images.githubusercontent.com/35531751/98389060-d736cf80-2053-11eb-9ccc-9ab29fe1f258.png)

[2020-11-06 16:44] hassanfa commented on #822
Seems like the help message is incorrect then:

[code]

Cause `cg workflow ba

[2020-11-06 16:45] #822 closed

[2020-11-06 17:03] hassanfa commented on #823
So again a help message hiccup then. Thanks for checking this as well.

[2020-11-06 17:06] moonso commented on #823
Perhaps just remove the `-d/--dry-run` flag on the subcommand `cg workflow balsamic`? It seems a bit confusing to have it in both places

[2020-11-06 17:25] hassanfa commented on #823
Good point, lets keep it open then but it is low prio now. I changed main text body and title accordingly.

[2020-11-07 10:32] Mropat commented on #823
@hassanfa The only reason the flags were added there is because when working on that code, we made a decision together to add them like this, in order to display available options from `cg workflow balsamic --help.`
The proper way to run these commands was already described and documented on Github and in Amdocs.

[2020-11-07 12:04] Mropat commented on #825
So what is the proposed solution?
Do we want to introduce a delivery field in Status to indicate delivery type and handle these cases accordingly?

[2020-11-07 12:07] Mropat commented on #821
Can you provide names of cases where this happened?
Was the case started through cg or MIP directly?

[2020-11-07 12:08] Mropat commented on #824
Un-storable cases:
fineroughy
upwardhawk
heroicgar
fastpossum
tighthog
newwahoo
nearbytetra
apttapir
proudweevil
raremullet
grandkoala
immunefinch
activepanda
smarthermit
sacredowl
wholehermit
betterinsect
fitbeagle
savedmole
nicebaboon
awakekoala
manyakita
fleetmouse
petcivet
smartjennet
actualsloth
kindweevil
sweetgnat
lightemu
unitedaphid
majorpony
guidedboxer
fastnewt
movedferret
crackkoala
re

[2020-11-07 12:09] vwirta commented on #825
There will be many cases in future where we would like to run only QC part of Balsamic.
This would be cases where customer expects to get raw data only, but we would like to run QC to get data on success of library prep and sequencing.

[2020-11-09 06:25] hassanfa commented on #824
Nice!

Keyvan, please be careful of not "rerunning"  or deleting analysis case. These are old runs, and we'd like to keep the old results.

[2020-11-09 06:40] hassanfa commented on #825
Temporary solutions:
1. Find out through production which customers are are only fastq delivery. Example: molecular health
2. We have fastq delivery (they are not BALSAMIC, MIP, nor microsalt) for some samples. They will all automatically be run through QC workflow.

This exists to some extent. Probably @annagellerbring or @elevu know how it is defined in orders. Maybe even @patrikgrenfeldt can he

[2020-11-09 07:57] elevu commented on #825
As I understand, now in the order portal for Balsamic there is no way to specify the delivery type. But it definitely can be added.

[2020-11-09 08:02] hassanfa commented on #825
How about analysis type? Are all analysis only `"BALSAMIC" | "MICROSALT" | "FASTQ" | "MIP"`?

[2020-11-09 15:18] #816 closed

[2020-11-09 16:07] #823 closed

[2020-11-10 07:54] keyvanelhami commented on #824
New config cases have been created for all 39 cases and they are now also stored in HK.

Closing issue

[2020-11-10 07:54] #824 closed

[2020-11-10 07:57] hassanfa commented on #824
Underbar!

[2020-11-10 12:27] Mropat commented on #821
Affected case **mightystud**

[2020-11-11 10:53] moonso commented on #806
Closed by #812

[2020-11-11 10:53] #806 closed

[2020-11-11 20:19] annaengstrom opened #835 "cg set -kv application_tag fails for LIMS"
I want to change change application tag both in statusDB and LIMS simultaneously via` cg set `command

Problem:
Can't set LIMS via `cg set` command

Steps to reproduce
  1. ssh to hasta
  2. `cg set sample -kv application_version WGSPCFC030 ACC7274A1`
  3. Press y (set statusDB)
  4. Press y (set LIMS)

Expected outcome / suggested solution:

<img width="939" alt="Screenshot 2020-11-11 at 21 11 24

[2020-11-11 20:20] annaengstrom commented on #835
@patrikgrenfeldt Any new changes in `cg set` recently?

[2020-11-11 20:22] annaengstrom commented on #835
Maybe because the application_version in LIMS is UDF "Sequencing Analysis"

[2020-11-11 20:26] annaengstrom commented on #835
#742 is also connected to `cg set`

[2020-11-12 05:41] patrikgrenfeldt commented on #835
Hi Anna, I think the command you are looking for is` cg set sample -kv application WGSPCFC030 ACC7274A1`

[2020-11-12 05:42] patrikgrenfeldt commented on #835
The application_version contains price information about the application

[2020-11-12 05:49] patrikgrenfeldt commented on #742
It needs a special handling in the code since it is translated, this is not yet implemented

[2020-11-12 08:24] annaengstrom commented on #835
We have previously used application_version

![Screenshot 2020-11-12 at 09 21 08](https://user-images.githubusercontent.com/36469416/98914024-72063280-24c8-11eb-8775-51fceff03c22.png)

**See second last row here:**
![Screenshot 2020-11-12 at 09 23 15](https://user-images.githubusercontent.com/36469416/98914262-babdeb80-24c8-11eb-9407-9e94b53381bf.png)

[2020-11-12 08:29] annaengstrom commented on #742
What is the plan to fix it?

[2020-11-12 08:33] patrikgrenfeldt commented on #835
Yes you are right, that's how it is supposed to be set

[2020-11-12 09:33] patrikgrenfeldt commented on #835
resolved by #836

[2020-11-12 09:34] patrikgrenfeldt commented on #742
resolved by #837

[2020-11-12 09:34] annaengstrom commented on #742
The feature `cg set` is used in a production setting on a regular basis, changing information about a sample, and is used by both lab staff and bioinfo production.

Using CLI instead of GUI for statusDB is safer and quicker, and the practically the only way to go when many samples are affected. Usually, both statusDB and LIMS have to be changed at the same time, and to do LIMS manually after chang

[2020-11-13 08:13] hassanfa opened #838 "Possibility to instruct TB (feature doesn't exist yet) to hide an analysis"
Ref: https://github.com/Clinical-Genomics/trailblazer/issues/155

I do run lots of analysis and re-analysis on various samples for reinvestigation or data aggregation. Or Keyvan can run downsampled cases as analysis for various projects and investigations.

This clutters TB production and @emmser doesn't appreciate it.

Right now there is no way to overcome this easily. It'd be great to have a fea

[2020-11-13 08:17] hassanfa commented on #838
@keyvanelhami  here is the issue.

[2020-11-13 08:38] hassanfa commented on #357
I am reopening this, as it might be relevant to https://github.com/Clinical-Genomics/cg/issues/838 as well.

Lots of custom analysis that I do through `cg` on production samples might need a different result directory to avoid storing, trailblazing, and  breaking production.

Examples include:
1. re-analysis of production samples under different condition
2. answer customer questions by looking in

[2020-11-13 09:27] Mropat commented on #838
Ways to do this in the meantime while we have a permanent solution:

Route A:
1. Start analysis
2. Go to Trailblazer
3. Make failed & Hide analysis

Route B:
1. Use stage - this will not prevent analysis from being tracked on stage, but it wont submit to prod trailblazer or store in Housekeeper automatically

[2020-11-13 09:30] hassanfa commented on #838
I did route A, and hid all the analysis.

Route B is desirable, but stage can get wiped (as it should).

Best solution is to have an alternative output-dir or provide a support for long-term-stage utilization, using production version of all tools.

[2020-11-13 12:28] karlnyr opened #840 "feat/fix request: Allow for multiple analyses to be placed at the same time on a case"
In its current state, orders are placed through the orderportal for a family/case. If the customer then wants to add more samples to this family, per say adding parents to proband sample, they would do so by placing a new order on the samples they want to add and refer to the old family/case

Problem:
If an analysis has not been done yet on the family/case (because of queue into prep and time to s

[2020-11-13 12:38] karlnyr commented on #840
@emmser @henningonsbring @talnor What do you think about this? Is it worth the thought or should I put this down?

[2020-11-13 15:01] henningonsbring commented on #840
We have discussed to block the possibility to add new samples to an old case, and my understanding is that the consensus is that we should prevent this behaviour. Instead, customers should in the future just get a new family with the cases from the old family added together with the new samples.

[2020-11-18 12:34] keyvanelhami commented on #809
We have right now several Balsamic samples that are affected by this issue and I am unable to run the analysis.

Do we have an update regarding this issue?

[2020-11-18 13:06] moonso commented on #809
@Mropat @patrikgrenfeldt I think you are best suited to look into this, I'm happy to help out if I can. When do you have time?
Can you also participate @henningonsbring ?

[2020-11-18 13:24] keyvanelhami commented on #809
Let me also know if I could contribute to solve this problem.

[2020-11-18 13:24] henningonsbring commented on #809
I am actually looking at it right now @moonso

[2020-11-18 13:44] henningonsbring commented on #809
@hassanfa since you have bwa ready (environent, index, reference and what ever you might need to run it), can you please test it on the non-concatenated data?

I checked the non-concatenated data, and it looked fine, same number of rows in R1 and R2 (which was not the case for the other analysis with sample ACC5821A1 mentioned above).

Number of rows in the fastq files for hotoyster:
[code]

Seems

[2020-11-18 14:07] hassanfa commented on #809
Sure. Can you please concatenate them somewhere outside actual prod path? I don't feel comfortable directly working with production files.

[2020-11-18 14:07] hassanfa commented on #809
maybe here: `/home/proj/stage/cancer`

[2020-11-18 14:10] Mropat commented on #809
I am currently testing whether user error + regex search in file directory could be the reason for this
Hasta is currently full so please be patient until tomorrow

[2020-11-18 15:40] hassanfa commented on #809
@henningonsbring queued the jobs. Now we wait :-)

[2020-11-19 07:36] hassanfa commented on #809
@Mropat Great that you find the problem. It was compress&decompress&adding to HK.

Maybe we can use the same strategy that Henning is implementing in a PR for BALSAMIC as well? i.e. https://github.com/Clinical-Genomics/cg/pull/841

[2020-11-19 08:04] Mropat commented on #809
Tjolahopp!
The mystery seems to be solved now!

What I did:
Decompress the files for case **hotoyster** again.
Check that all the decompression jobs were completed.
Store files in Housekeeper
Re-run the analysis from scratch (so concatenation and linking of fastq-files done from scratch)

The case hotoyster ran successfully again with all the reads being in place

I will repeat this for toughdingo

[2020-11-19 08:07] vwirta commented on #809
super @Mropat

[2020-11-19 09:09] hassanfa opened #847 "Use a middleman between cg/tb and SLURM"
I'd like to have a SLURM interface for our applications. I described it here: https://github.com/Clinical-Genomics/project-planning/issues/70

To focus as a project.

I was planning to do this only for Vogue but knowing current challenges with FastQ compression, it could be a nice addition after project intensity cools down.

[2020-11-19 09:09] hassanfa commented on #847
Maybe something for @Mropat and @moonso are also interested to join ranks for this project.

[2020-11-19 09:13] hassanfa commented on #847
My suggestions is too look into the following:

- https://github.com/ohsu-comp-bio/funnel
- PySlurm or SlurmPy
- https://github.com/ga4gh/workflow-execution-service-schemas
- https://github.com/EMBL-EBI-TSI/TESK/

All above, except PySlurm/SlurmPy are SLURM agnostic and can be added to our microservice/monolith setup

[2020-11-19 09:14] hassanfa commented on #847
(I'm slightly biased towards funnel, since I've tried it with SnakeMake and it works quite well)

[2020-11-19 09:41] #821 closed

[2020-11-19 13:18] moonso commented on #847
Sound great, we already had some discussions in this direction right @Mropat ? Great if there is a plug and play tool out there already 💯

[2020-11-20 08:38] Mropat commented on #847
Funnel sure does seem nice! SO much functionality, and I'm sure we could adapt it to monitor case progress :+1:

[2020-11-24 14:19] northwestwitch opened #853 "Error while uploading cases to scout: KeyError: 'default_gene_panels'"
[code]

[2020-11-24 16:35] #853 closed, assigned to nobody

[2020-11-26 09:20] northwestwitch opened #857 "Sample loaded into scout with the internal LIMS id"
See case: https://scout.scilifelab.se/cust002/F0037126

[2020-11-26 12:10] #857 closed, assigned to moonso

[2020-11-26 13:28] henrikstranneheim opened #859 "SPRING compression error on ACC6541A34"
**Suggested actions:**
1. Make crunchy relay springs stdout to be able to check any error messages from spring direcrtly from the sbatch script.
1. Replace the corrupted fastq files with the sanatized ones and let the ordinary spring machinery compress them and update databases accordingly

**Background**
The cg compress fastq process, which uses crunchy has tried many time to compress the fast fi

[2020-11-27 14:16] keyvanelhami opened #865 "Concatenated fastq-file has 0 reads for R2"
**Problem**:
Sample `ACC7204A3` is included in following cases:
`cleverdoe` (tumor-only)
`funnyslug` (Paired analysis)
`amusedskink` (Paired analysis)
`oneel` (Paired analysis)
`decentcougar` (Paired analysis)

For following 3 cases, sample `ACC7204A3` gets 0 reads for Read2 after concatenation. For the remaining 2 cases, the concatenation is correct
`oneel, amusedskink, decentcougar`

![image](ht

[2020-12-01 10:06] keyvanelhami opened #868 "3 WGS samples fails on manta_tumor_normal"
**Case or sample information**
Internal sample id or case id: viablehare, fleetmutt, neededdassie
Amount read-pairs:
ACC7230A11: 380 M r-p, ACC7230A12: 80 M r-p
ACC7230A13: 308 M r-p, ACC7230A14: 36 M r-p in status-db
ACC7230A15: 350M r-p, ACC7230A16 115 M r-p
Sequence type (WES, TGA, WGS): WGS

**Error message**
Here are some of the errors for all cases
[code]

**Link to the error message**
`/hom

[2020-12-03 08:32] #859 closed, assigned to nobody

[2020-12-03 19:57] #865 closed, assigned to Mropat

[2020-12-04 08:03] #868 closed, assigned to nobody

[2020-12-04 12:18] moonso opened #872 "Add delivery type balsamic-analysis"
## Mail from Keyvan

[code]

## Suggested solution
We need another delivery type for balsamic analysis that includes the analysis files but excludes the `bam/cram` and `fastq`.

[2020-12-07 17:12] #872 closed, assigned to nobody

[2020-12-08 14:18] heronikdin opened #889 "Connect family case number to starlims ID."
Hi, from cust 087

We just received data from the first myeloid samples, they are marked as only the family number: FXXXXX, but the starlims ID has to be connected to the family number. Can we have the same setup as the RD view in scout?

Best Regards, HEro

[2020-12-10 12:52] heronikdin opened #880 "Coverage report missing for cancer scout"
Hi (from cust087, do I have to write the cust no everytime?)

We have seen from the 2 first myeloid samples that we have analysed in cancer scout, that the quality metrics are missing from the pdf report. How do we conclude that the data presenterd is approved technically from a coverage point of view?
According to Bianca Tesi, for GMCK panel the coverage of genes is represented in the PDF file, a

[2020-12-11 10:17] karlnyr opened #883 "bug/Unable to set data analysis on family from available options"
Currently there is a bug in the web ui for cg where one is not able to set the data analysis on a family from the vialable presets. This is a bug that appeared as the data analysis column was moved to family from sample.

Attempt to set the analysis to mip-dna:

![image](https://user-images.githubusercontent.com/45558267/101890503-100d1b80-3ba1-11eb-8a4d-501fa4428d32.png)

Result:

![image](https:

[2020-12-11 16:08] ashwini06 opened #886 "No housekeeper bundles for samples ACC7291A3"
**Problem:**
Failed to run commandline

`cg workflow balsamic start cuddlyalien`
`cg workflow balsamic start realstag`

![Screenshot 2020-12-11 at 16 06 09 (2)](https://user-images.githubusercontent.com/6302819/101926144-161bf000-3bd3-11eb-8eaa-d7f091345a55.png)

Fastq- concatenation issue! And while checking for files (`ACC7291A3`,`ACC7291A5`) in housekeeper bundle, no samples were found
`houseke

[2020-12-14 12:53] #886 closed, assigned to nobody

[2020-12-15 09:44] dnil commented on #791
This was fixed right? It is in production on the clinic side and in Scout..

[2020-12-15 09:59] dnil commented on #791
Quick read says it should, possibly check if not synopsis should also be in https://github.com/Clinical-Genomics/cg/blob/a4fefa7dd2f8603cf094b3971d58fe841937d385/cg/apps/scout/scout_export.py#L61 then close?

[2020-12-15 12:14] moonso commented on #791
I think we have to ask @patrikgrenfeldt

[2020-12-15 13:26] heronikdin commented on #880
hi, sorry I am a bit lost in everything that has been written here, I dont think I understand it all. But it would be very nice to see the coverage % for 500X and above.

[2020-12-15 13:30] hassanfa commented on #880
@heronikdin you can check coverage in MultiQC report in the side left panel:
![image](https://user-images.githubusercontent.com/1086877/102220966-d4948900-3ee1-11eb-88dc-4b38c0548bb5.png)

and check mosdepth in MultiQC report:
![image](https://user-images.githubusercontent.com/1086877/102221010-e6762c00-3ee1-11eb-9b56-9002f4ae32da.png)

Coverage distribution example:
![image](https://user-images.g

[2020-12-15 13:35] heronikdin commented on #880
Thank you Hassan for this, it helps a bit, but we still would like to see some quality metrics in the report in order to be able to decide wether or not we should dismiss samples based on quality.
A table as the one shown above would be good, this way it is in the scout report also for the clinicans here to see.

Regarding the coverage of genes being presented, is this something that can be done?

[2020-12-15 13:39] hassanfa commented on #880
Yes, we need to tune the software we have to generating the report to provide gene level coverage report.

The reason is the genes are partially covered, and sometimes there are intronic or intergenic regions in the panel data. And our software is not aware of that.

[2020-12-15 14:08] Mropat commented on #883
is this done @patrikgrenfeldt ?

[2020-12-15 14:23] Mropat opened #892 "Distinguish larger microbial orders in orderform and Status-db"
Problem:
Automatic start and storage of microbial analyses is not completely straightforward to implement.
Most microbial orders will contain few samples which will be prepped, sequenced, analyzed and delivered all at the same time. In rare cases, however, orders will contain ~300 samples, and the customer would prefer to receive the results as soon as they are ready, delivered in batches every we

[2020-12-16 10:08] hassanfa commented on #800
bump!

[2020-12-16 10:08] hassanfa commented on #787
bump

[2020-12-16 10:11] Mropat commented on #787
yes

[2020-12-16 10:13] hassanfa opened #893 "Upload MicroSalt and BALSAMIC data to Vogue"
Anna Ly, Isak, and I had a meeting today looking into Vogue data. This is related to multiple fairly high priority issues that were not moved in the past. And mostly related to missing Vogue data that needs to be loaded via `cg`.

It would be wonderful to prioritize loading QC data into Vogue for all workflows. BALSAMIC and MIP are same procedure.

Related issue: https://github.com/Clinical-Genomi

[2020-12-16 10:13] Mropat commented on #800
This should start moving once we implement **alembic** for database migrations

[2020-12-16 10:13] patrikgrenfeldt commented on #800
I'm no fan of introducing things in the code or database that could be useful one day but might on the other hand newer be implemented. I'm thinking each of these should be in the PR that makes use of them.

I know its a bit undocumented how to run sql-scripts toward the database but MR suggested we change that by introducing Alembic in cg.

[2020-12-16 10:14] hassanfa commented on #893
@annaengstrom @sylvinite any thing more, please add them here.

[2020-12-16 10:15] patrikgrenfeldt commented on #787
Do we have a branch to add the db-change-script to for this issue?

[2020-12-16 11:24] Mropat commented on #787
@patrikgrenfeldt  No, this should be done after the alembic implementation

[2020-12-17 07:52] patrikgrenfeldt commented on #791
Not to my knowledge no

Den tis 15 dec. 2020 kl 13:14 skrev Måns Magnusson <notifications@github.com

--

*Patrik GrenfeldtIT/Developer*
Clinical Genomics
Science for Life Laboratory, Stockholm, Sweden

Visiting/*Delivery* address: Tomtebodavägen 23A/*23B*. 171 65 Solna. Sweden.
Phone: *+46 <%2B46702385698>8 5248100*
Email: patrik.grenfeldt@scilifelab.se

[2020-12-17 08:56] 1ctw opened #898 "Bam files missing for mtDNA"
I have noticed that BAM files for mtDNA are missing for several cases. I have now checked and all cases uploaded in Scout after 20th of November miss BAM files for mtDNA. Could you please check what has happened.

[2020-12-17 09:04] northwestwitch opened #897 "Path to mitochondrial alignments not saved into scout upon case load"
Hi!
A scout user noticed that no MT alignments files are available on Scout for analyses newer than Nov 20th, see this issue: https://github.com/Clinical-Genomics/scout/issues/2268.

Could this be due to recent updates in CG?

[2020-12-17 09:17] northwestwitch commented on #897
@moonso could you take a look at this one, it's quite urgent I think.

[2020-12-17 09:23] northwestwitch commented on #897
Closing this and keeping open the original issue #898

[2020-12-17 09:23] #897 closed

[2020-12-17 09:25] dnil commented on #898
See eg
[code]

[2020-12-17 09:28] dnil commented on #898
I don't quite know how to categorise the urgency: someone else may be better at that.. The feature has apparently not been used for a couple of months, but on the other hand it can potentially be rather urgent if there is a finding in a particular patient. If that happens before we have it fixed @1ctw, just let us know: the files are there so we should be able to arrange something temporary very q

[2020-12-17 09:30] northwestwitch commented on #898
I think the urgency is quite high, and we might need to write a script to update the MT alignment field for all the cases which are missing it

[2020-12-17 09:32] dnil commented on #898
Yes, very likely: it is that or have production reload all cases from then til now after it is fixed in cg.

[2020-12-17 09:46] 1ctw commented on #898
The mtDNA BAM files are only important for the cases run on muscle DNA so it is not necessary to reload all cases.

Do you need information about which samples need to be reloaded? It is okey if you fix it for all new samples and for muscle samples from 20th of November. It could not be that many samples?

Från: Daniel Nilsson <notifications@github.com>
Skickat: den 17 december 2020 10:33
Till: Cl

[2020-12-17 12:34] ashwini06 opened #900 "cg balsamic delivery command issue"
**Problem:**
The wrong folder 'G1A1440p44' is copied to other case folders with the cg deliver command

Steps to reproduce:
`cg deliver analysis -c funnyslug -d balsamic`
`cg deliver analysis -c amusedskink -d balsamic`
`cg deliver analysis -c oneel -d balsamic`
`cg deliver analysis -c decentcougar -d balsamic`

`ls /home/proj/production/customers/cust059/inbox/215172/*`

<img width="557" alt="Scr

[2020-12-17 14:51] #898 closed

[2020-12-17 15:23] dnil commented on #898
That sounds like a good plan! We fixed the cg issue now, so we could just reupload those case and call it a day. Just looking at what is flagged as tissue_type: muscle in the scout db that would be like 10 cases, right?

[2020-12-17 15:38] 1ctw commented on #898
Yes, I think it would be these eleven samples:

20224-I-2A
15130-I-1A
20225-I-1A
20228-I-1A
20232-I-1A
20234-I-1A
20235-I-2A
20236-I-1A
20237-I-1A
20238-I-2A
20242-I-2A

Thanks!

[2020-12-17 15:48] dnil commented on #898
💯
I got these:
![Screenshot 2020-12-17 at 16 44 32](https://user-images.githubusercontent.com/758570/102510122-920cb100-4087-11eb-8373-a4a8302a5338.png)

Likely 20236 and 20242 will arrive later? If so, they will be correctly loaded off the bat.

[2020-12-17 15:52] 1ctw commented on #898
Yes, sorry that´s correct. The two last ones are not uploaded in Scout yet.

[2020-12-17 17:36] moonso commented on #900
Could you elaborate a little. What is expected and what is wrong here?

[2020-12-18 08:35] ashwini06 commented on #900
**Scenerio:**

Balsamic analysis is done for the following cases and the data needs to be delivered (vcf, fastq, bam) to the caesar
[code]

Here `ACC7204A3` (G1A1440p44) is a normal sample and is used for multiple cases. And the total raw data folder size for this sample `ACC7204A3` is 125G. If the same data folder is copied multiple times to each individual case folder, it requires a bigger stora

[2020-12-18 10:05] moonso commented on #900
Hi @ashwini06 , this has not been part of the discussions when we designed the delivery script. Luckily the files are not copied but [hard linked](https://www.geeksforgeeks.org/soft-hard-links-unixlinux/) so that the file exists in multiple directories does not mean that it occupies more space on disc.
However when syncing to ceasar I assume that the data will be duplicated for each sample. Perhap

[2020-12-18 12:11] ashwini06 commented on #900
@moonso if it is designed as such, no issues then!

yes it was a request from the customer about the raw data files and keyvan also confirmed me which files to deliver.

[2020-12-18 12:11] #900 closed

[2020-12-18 14:25] moonso commented on #900
Could we keep it like it is and if the problem seems to be recurring we can try to make a fix for it? Is that ok with you @ashwini06 ?

[2020-12-18 14:55] ashwini06 commented on #900
@moonso: Alright :)

[2020-12-22 13:25] dnil commented on #791
As a reminder; asked Patrik, and indeed writing to scout is ok, and customer test json come in with the values set, but some code is likely missing in the middle to transfer values. This is live since November, and I believe we ok:ed, so at some point we should fix it - ideally before someone starts using it. 😉

[2020-12-22 14:00] dnil commented on #791
As per test communication from StarLIMS dev:

{"name":"Test1",
"customer":"Cust002",
"comment":"",
"samples":[{"name":"2020-00196-03",
"father":"",
"mother":"",
"sex":"male",
"age_at_sampling":"31.00068",
"quantity":"",
"application":"WGSPCFC030",
"source":"blood",
"status":"affected",
"container":"96 well plate",
"container_name":"",
"well_position":"A1",
"family_name":"F0000025",
"panels":["IF"]

[2020-12-23 08:59] patrikgrenfeldt commented on #883
resolved by #885

[2020-12-23 08:59] #883 closed

[2021-01-14 15:03] dnil commented on #791
Ok that time is now past; got the first bug report from @AnnHam today. Synopsis added to cases ordered over the holidays were lost and not passed to Scout load config as probably expected?

[2021-01-14 15:07] dnil commented on #791
Does not seem overwhelming; the values need to be handled on the actual web form, the way the code works now, so they get passed on to eventually get into the db and exported to scout configs made by cg? How is the project progressing?

[2021-01-14 16:26] moonso commented on #791
@patrikgrenfeldt and @henrikstranneheim this needs to be up prioritised. We need to accept the new json and we need some way of making the information persistent between orderportal and upload to scout. I guess we need to add new fields to the database again, on case(family) level. Or we could simply store the raw json file in a string format.

[2021-01-15 07:20] henrikstranneheim commented on #791
Agreed! Let's discuss with @patrikgrenfeldt on a suitable time to start working on this and how to proceed.

[2021-01-15 08:13] patrikgrenfeldt commented on #791
I suggest we could have orderportal upload the hpo-terms immediately to
Scout when the order is put, how about that?

/Patrik

Den fre 15 jan. 2021 kl 08:20 skrev Henrik Stranneheim <
notifications@github.com>:

--

*Patrik GrenfeldtIT/Developer*
Clinical Genomics
Science for Life Laboratory, Stockholm, Sweden

Visiting/*Delivery* address: Tomtebodavägen 23A/*23B*. 171 65 Solna. Sweden.
Phone: *+4

[2021-01-15 08:53] dnil commented on #791
Sure; that will give Scout users that dont have access to Orderportalen a little bit more info about the process as well. We could introduce a "pending" status in Scout to cases where there is no variant data yet. This will probably not make dev of this feature easier in cg though: it seems likely cg will need to be able to hold on to the info until it is safely in scout anyway?

[2021-01-15 09:35] moonso commented on #791
Hi @dnil , we have talked about this now. The solution with adding to scout directly will require multiple actions in cg, cg upload and scout. A simpler solution is that we store the information in CG until the case get's uploaded to Scout. Wether we want to upload incomplete cases or not can be discussed at some other point.

We estimate that this is in place by the end of next week, hope that is

[2021-01-16 12:05] Mropat commented on #779
All done now I think

[2021-01-16 12:05] #779 closed

[2021-01-16 12:09] Mropat commented on #557
This is finished, please open new issue if not working as desired

[2021-01-16 12:09] #557 closed

[2021-01-16 12:17] #228 closed

[2021-01-18 13:41] hassanfa commented on #893
@Mropat dankeschön! 🙏🏽

[2021-01-19 08:52] Mropat commented on #893
Steps to implement:
- [ ] Create a new field in StatusDB Family table for tracking Vogue upload status
- [ ] Create VogueUploadAPI for uploading data to Vogue via cg

[2021-01-19 09:48] annaengstrom commented on #893
There are too many samples going through production now for lab staff to be able to manually look at data, it is not feasible. We need microbial and balsamic data in vogue asap for us to be able to troubleshoot, follow robustness and to optimize our methods.

[2021-01-20 19:59] Mropat commented on #226
This can be closed I think!
@henrikstranneheim @moonso

[2021-01-20 20:01] Mropat commented on #120
@patrikgrenfeldt is this still relevant?

[2021-01-21 07:19] #226 closed

[2021-01-21 11:53] henrikstranneheim commented on #690
This has been handled and the current process is working fine as far as I know. Closing

[2021-01-21 11:53] #690 closed

[2021-01-21 11:56] henrikstranneheim commented on #673
@moonso I think this is solved by Hermes now right?

[2021-01-21 12:03] moonso commented on #673
Yes refer to this place: http://www.clinicalgenomics.se/hermes/

[2021-01-21 12:03] #673 closed

[2021-01-21 12:04] henrikstranneheim commented on #658
@patrikgrenfeldt I think you have fixed this?

[2021-01-21 12:12] henrikstranneheim commented on #576
Seems stale - closing

[2021-01-21 12:12] #576 closed

[2021-01-21 12:13] henrikstranneheim commented on #559
@emmser and @patrikgrenfeldt Is this still the case?

[2021-01-21 12:16] henrikstranneheim commented on #555
@Mropat and @emmser Do we still need this issue?

[2021-01-21 12:16] henrikstranneheim commented on #547
@mayabrandi What is the status of this?

[2021-01-21 12:17] henrikstranneheim commented on #546
@mayabrandi Is this still an issue?

[2021-01-21 12:18] henrikstranneheim commented on #545
@mayabrandi Is this bug still in effect?

[2021-01-21 12:19] henrikstranneheim commented on #528
@emmser How is this handled today?

[2021-01-21 12:23] henrikstranneheim commented on #420
This already done! Most likely when @moonso refactored and extended the cg delivery command.

[2021-01-21 12:23] #420 closed

[2021-01-21 12:26] henrikstranneheim commented on #159
I cannot find it in the requirements or pipfile - closing

[2021-01-21 12:26] #159 closed

[2021-01-21 12:27] henrikstranneheim commented on #130
@mayabrandi Is there a retry in place and/or is this still an issue?

[2021-01-21 12:41] henrikstranneheim commented on #121
Stale - closing

[2021-01-21 12:41] #121 closed

[2021-01-21 12:45] henrikstranneheim commented on #120
I am going to close this since as far as I know the customers are not complaining and are not confused about this. Reopen if you disagree

[2021-01-21 12:45] #120 closed

[2021-01-21 12:46] henrikstranneheim commented on #114
@mayabrandi What is the status of this?

[2021-01-21 12:49] henrikstranneheim commented on #106
I will close this! We can open a new issue when if this happens again with a better description and a new case that needs to be fixed.

[2021-01-21 12:49] #106 closed

[2021-01-21 12:52] henrikstranneheim commented on #86
Stale and not very well defined and also a duplicate of #794. Closing

[2021-01-21 12:52] #86 closed

[2021-01-21 20:15] moonso commented on #555
Fixed by #877

[2021-01-21 20:15] #555 closed

[2021-01-22 09:20] mayabrandi commented on #114
I have not done anything on this. What is the deadline?

[2021-01-22 09:21] mayabrandi commented on #130
I don’t know anything bout this. Probably @patrikgrenfeldt  knows more!

[2021-01-22 09:25] mayabrandi commented on #545
This is fixed

[2021-01-22 09:25] #545 closed

[2021-01-22 09:30] mayabrandi commented on #546
Wouldn't call it an issue. Rather a code cleanup. It has not been fixed though. As we have a project of decoupeling the invoicing from cg (make it a micro service), the whole invoicing app will be rewritten. I would say this enhancement can be fixed at the same time. So maybe just close this issue?

[2021-01-22 09:33] mayabrandi commented on #547
This is no longer valid. Vogue lims code will be moved into cg_lims. That is not done yet since the lims projects continuously are being down prioritised :)

[2021-01-22 09:33] #547 closed

[2021-01-22 09:39] henrikstranneheim commented on #114
I do not know - maybe @emmser or @vwirta know how much this affects the invoicing procedure or if it is more a code refactoring issue

[2021-01-22 09:48] henrikstranneheim commented on #546
Sounds like a good plan!

[2021-01-22 09:48] #546 closed

[2021-01-22 10:45] Mropat opened #918 "New field "ticket" in Family table in StatusDB"
Problem:
Family table in StatusDB has no ticket field. Since all families are created at order submission, when ticket is known, this is possible to set right away. Currently ticket number is only available on Sample level.
Moving ticket to family level makes it easier to build queries, and allows us to use "name" field in family table for order/pool names

(This has to be in place in order for fl

[2021-01-23 07:11] Mropat commented on #748
Solving this requires an overhaul of cg backend logic right now. We can mark analysis finished in Trailblazer, but there needs to be support on Balsamic side to generate delivery report from the incomplete run.

[2021-01-25 11:41] Mropat opened #920 "Validation cases are still being compressed on Hasta"
As a busy person, I want to drink coffee so that I wake up.

Problem:
In cg, we have a list of cases to be ignored by the compression crontab. the list can be found in `cg/cg/cli/compress/fastq.py`
Despite the list, fastq files for validation cases on the list are still being compressed and/or deleted.

Expected outcome / suggested solution:
Cases on the ignore list are not being compressed

Propo

[2021-01-25 13:20] #920 closed

[2021-01-25 13:29] keyvanelhami opened #922 "Remove fastq-files from cg deliver analysis -d balsamic"
Since the fastq-files are very large, we would like to remove fastq-files to be delivered when using `cg deliver analysis -d balsamic `

Customers are very rarely requesting the fastq-files. If they also need the fastq-files, the `-d balsamic-qc` could additionally be used after  `-d balsamic`

[2021-01-26 08:35] henrikstranneheim commented on #922
@keyvanelhami Could you add a gain and urgency label?

[2021-01-26 08:44] henrikstranneheim commented on #893
@emmser Would you consider this part of the cancer-in-weekly-production project or outside of the scope of this project?

[2021-01-26 14:06] Mropat commented on #922
Done

[2021-01-26 14:06] #922 closed

[2021-01-26 14:08] Mropat commented on #847
Ok, so this more of an idea/suggestion and not technically an issue that can be addressed immediately.
Closing, reopen when this can be implemented

[2021-01-26 14:08] #847 closed

[2021-01-26 14:09] Mropat commented on #788
Those cases are and should be starting automatically given enough reads are sequenced. Closing, reopen if still an issue

[2021-01-26 14:09] #788 closed

[2021-01-26 14:12] Mropat commented on #763
This can be done - we already have orgamism field on sample level. If BALSAMIC adds support for those organisms, we could utilize this and configure cases accordingly. Closing for now, can reopen when this can be procceeded on

[2021-01-26 14:12] #763 closed

[2021-01-26 14:17] Mropat commented on #35
@henrikstranneheim  is this still happening? Can this be handled in MIP (analysisrunstatus to check for coverage?)

[2021-01-26 15:01] henrikstranneheim commented on #35
It is a bit unclear what "upload" actually means here. I guess Emilia meant Scout. I do not know if the upload will fail if the validate part is not fulfilled. From the cron job:
[code]
We have the usually check the entire default capture target regions in MIP (both WGS and WES) and MIP usually get the gene panel master list and not a particular panel (as this is not supplied to MIP in any distinc

[2021-01-27 08:23] moonso opened #924 "Validate orderforms in the backend"
We are accepting orderforms in json format that are not validated. These should be sent to the backend and get validated. Validation should be communicated to the frontend.

## Problem
The orderforms in json format are not properly validated.

## Suggested solution
Implement models in pydantic for validating the orderforms, both for excel and json

[2021-01-27 09:20] hassanfa opened #925 "bug uploading to Vogue"
The name mip vs mip-dna causing problem on vogue's side:

[code]

[2021-01-27 09:29] hassanfa opened #926 "Upload workflow specific data into Vogue"
## Problem
We'd like to only upload workflow specific data to Vogue. This is important to rapidly upload MicroSalt, BALSAMIC, and MIP (dna and rna).

## Why
The reason is that it can be useful to upload data to Vogue by restricting date, workflow, and case name. As a Vogue developer, sometimes I might want to reupload specific cases due to various reasons such as missed data, change of models in V

[2021-01-27 09:31] hassanfa commented on #925
This can be fixed on Vogue side. We'll map mip-dna to mip for now.

[2021-01-27 09:48] henrikstranneheim commented on #925
Ok, I will transfer the issue to Vogue

[2021-01-27 11:04] Mropat commented on #926
Hi!
Can you please clarify the feature you want in a feature request/ bug report format?

[2021-01-27 15:44] #631 closed

[2021-01-27 15:47] moonso commented on #889
Fixed by #911 !

[2021-01-27 15:47] #889 closed

[2021-01-28 19:00] vwirta commented on #918
Hmm...Do you mean move or copy?  I think the ticket on sample level is very useful. Also, we have some times families where the samples have been submitted on different tickets.

[2021-02-01 08:30] Mropat commented on #918
Duplicated!
The logistics need to be discussed. Perhaps we don't need to duplicate this, but it concerns the way we process fluffy RML and store the samplesheet

[2021-02-02 07:37] hassanfa opened #930 "BALSAMIC status command update"
BALSAMIC CLI command for report delivery will be updated according to the example below ONLY for "TGA" and "WES" runs:

1. Tumor-normal:
[code]

2. Tumor-only:
[code]

HTML report will be in the following path:

`/home/proj/{stage..production}/cancer/cases/<case_name>/analysis/delivery_report/<case_name>_qc_report.html`

Example: `/home/proj/{stage..production}/cancer/cases/angrybird/analysis/deli

[2021-02-02 07:40] moonso commented on #930
Nice job!

[2021-02-02 07:42] hassanfa commented on #930
The following should happen:
1. Add balsamic delivery report to standard set of deliveries
2. Communicate with Scout team to make sure this is added as a tag and existing in case page
3. `cg` to provide this file to Scout

Multiple small moving parts, but making `cg` to generate these files is the first step.

Also, `S_BALSAMIC` has a working branch installed. Feel free to test it, as soon as PR i

[2021-02-02 08:21] moonso commented on #930
So CG is generating the files by running BALSAMIC?

[2021-02-02 08:23] hassanfa commented on #930
Yes. cg is already running that command. It just needs to provide  the newly added cli options to balsamic.

[2021-02-02 08:25] #122 closed

[2021-02-02 08:25] #689 closed

[2021-02-02 08:34] barrystokman opened #931 "Automate Balsamic data delivery"
note: Break up into multiple issues

[2021-02-02 08:36] barrystokman opened #932 "Implement Alembic for cg database migrations"

[2021-02-02 08:39] barrystokman opened #933 "Refactor Vogue upload and move it into its own service"

[2021-02-02 08:40] barrystokman opened #934 "Refactor AnalysisAPI for all workflows into one class"

[2021-02-02 08:41] barrystokman opened #935 "Build REST application for cg using FastAPI (Dolores)"

[2021-02-02 08:43] barrystokman opened #936 "Move delivery report generation logic from cg into own microservice"

[2021-02-02 08:57] hassanfa commented on #933
Does this concern Vogue repo or only cg part of it?

[2021-02-02 09:03] barrystokman commented on #933
That's one of the things we need to discuss. I'll gladly move it to the vogue repo if/when needed!

[2021-02-02 09:08] hassanfa commented on #933
Ideally for anything that involves Vogue base, please involve me as well.

I'd like to avoid repetitive work and prioritize Vogue development. I'll be working more on Vogue in the near future, and plans are sort of set.

[2021-02-02 09:36] moonso opened #937 "cg upload scout error when no analysis"
This should be handled more gracefully. Example `lightfly`

[code]

[2021-02-02 11:39] moonso opened #938 "No variants uploaded to scout for cancer cases"
When uploading cancer cases to Scout no variants are added. I will start to investigate what is wrong.

[2021-02-02 11:50] moonso commented on #933
I think this has to do with how cg or the infrastructure talks to the Vogue app, so it should not affect the code in vogue. We are discussing to split out the functions in CG, such as `upload scout` and `upload vogue` etc, to be its own services.

[2021-02-02 14:34] hassanfa commented on #880
This is linked to issue https://github.com/Clinical-Genomics/cg/issues/930

report looks like this and @heronikdin agreed with this as a good working start:
![image](https://user-images.githubusercontent.com/1086877/106614777-0504b500-656c-11eb-9ba7-2f2262c201d1.png)

[2021-02-02 14:49] hassanfa commented on #930
Store also should work. The following tag is added:
[code]

[2021-02-03 08:21] barrystokman commented on #926
@hassanfa Can you add more information to this issue? We have looked at it, but need more info to plan this, and work on it.

[2021-02-03 08:31] barrystokman commented on #787
@hassanfa Is it okay to fetch the latest analysis based on when they were analysed, for instance all analyses from last week?

[2021-02-03 08:38] hassanfa commented on #926
Apologies for not noticing your message @Mropat . Thanks for the reminder @barrystokman !

I updated the text. If this is not helpful, we can discuss on Slack and I'll update the text accordingly.

[2021-02-03 08:45] hassanfa commented on #787
Yes, that's totally fine. As long as there is ability to re-upload certain cases based on a certain date cutoff (example last week), it is just fine.

Vogue can handle duplicates just fine, but keeping track of which cases are trended (i.e. uploaded to Vogue) makes it easier to process and avoid re-uploading them to Vogue again.

[2021-02-03 08:49] barrystokman opened #940 "Evaluate NIPTool frontend"

[2021-02-03 08:56] barrystokman commented on #940
Upload to HK needs to be finished.

[2021-02-03 12:43] mayabrandi opened #941 "Decouple lims fom cg"
Decouple lims from cg
---------------

- [ ] move the lims code in cg into cg_lims
- [ ] make the rest endpoint for cg to query
- [ ] make a lims api in cg to query the cg_lims rest api

The limsAPI in cg should get its data via cg_lims-REST api.
cg should not depend on the genologics package

Steps to reproduce
  1. Identify the logical loauts that cg will use. Probably sample, family, pool..
  2

[2021-02-03 14:01] mayabrandi commented on #941
Could the following be sample level udfs?
prep_method
sequencing_method
delivery_method
capture_kit

Discuss with @emmser

[2021-02-03 14:09] mayabrandi commented on #941
GET - ROUTS:
Project
Pool
Sample
Family

PUT - ROUTS:
Sample

[2021-02-03 14:18] mayabrandi commented on #941
![Skärmavbild 2021-02-03 kl  15 17 36](https://user-images.githubusercontent.com/1306333/106759371-f92ff600-6632-11eb-9fbb-991cb5c39f04.png)
![Skärmavbild 2021-02-03 kl  15 17 15](https://user-images.githubusercontent.com/1306333/106759376-faf9b980-6632-11eb-9357-f106f26cbf1c.png)

[2021-02-04 14:38] emmser opened #945 "Samples with app-tags in tgs and wes category are started in MIP and creates problems in production"
Problem:
All samples ordered as Fastq-delivery will be run in MIP in cust000 cases. This is done historically for creation of vcf-files for MAF. But only WGS-samples are sent to MAF. This creates a lot of failed cases in MIP that needs manual hands-on unnecessarily. Now when we get more orders for exams and panels this becomes a problem for production.

Expected outcome / suggested solution:
Only

[2021-02-05 07:19] dnil opened #946 "cg upload scout rerun upload fails"
As an addicted person, I want to drink coffee so that I wake up.

Also, when I reupload scout cases with cg, I would like reruns to be handled properly, even in the face of missing data.

Problem:
Eg currently, stage case deepbeagle will fail scout reupload, as it has some idea about an old rerun 2019-05-02, and will not find the config data for the latest 2020-12-03.

us
cg upload scout -r deepbe

[2021-02-05 07:27] dnil commented on #946
Looks like its just not loaded properly in houskeeper:
`housekeeper get bundle -v deepbeagle`only finds the 2019-05-02 analysis, for which files are missing. Still, would not hurt if cg gracefully said that. And exited by all means. 😄

[2021-02-05 07:47] moonso commented on #946
Yes our stage env is very flawed unfortunately and files disappears now and then.

Could you post the stack trace?

[2021-02-05 07:51] dnil commented on #946
Sure, and that is actually another issue. This genuinely appears to be just missing files.  Not sure yet if it happens if any (config) file is missing, if latest on housekeeper is missing, or just if none is left...

Here is a similar one from justhusky
[code]

[2021-02-05 07:54] moonso commented on #946
Yes, so I don't know if this is obvious but the files exists as database entries in housekeeper but the actual file on desk has been wiped. This is a result of our flawed stage environment where files get removed for different reasons but the databases are not updated accordingly. I can add more graceful error handling for this

[2021-02-05 07:59] dnil commented on #946
And no rush - if it works if any - or at least the latest - is on disk then its jus Quality of Life or corresponding.

[2021-02-05 13:43] #615 closed

[2021-02-05 14:55] Mropat commented on #608
FInished https://github.com/Clinical-Genomics/cg/pull/844

[2021-02-05 14:55] #608 closed

[2021-02-05 14:56] Mropat commented on #607
fixed in https://github.com/Clinical-Genomics/cg/pull/844

[2021-02-05 14:56] #607 closed

[2021-02-05 14:57] Mropat commented on #722
No longer blocked by https://github.com/Clinical-Genomics/cg/pull/844

[2021-02-05 14:57] Mropat commented on #940
no longer blocked by https://github.com/Clinical-Genomics/cg/pull/844

[2021-02-05 21:18] #616 closed

[2021-02-08 08:55] hassanfa commented on #930
Scout and BALSAMIC are both updated and ready. This is ready to implement in cg @Mropat

[2021-02-08 09:38] #937 closed

[2021-02-08 09:38] #938 closed

[2021-02-08 09:54] moonso opened #949 "Refactor OrderAPI"
Improvements to the parsing of the json and excel sheets is necessary. This will be beneficial when we move the orderportal into its own service

- [x] Use pydantic when sending information from orderportal (`submit`) to backend  #960
- [x] Validate orderforms (excel and json) (NOT `submit`) with pydantic when uploading from orderportal #924
- [ ] Validate orders when submitted (this is a dict) wi

[2021-02-08 12:42] Mropat opened #950 "Create workaround for delivering BALSAMIC results created before 2021"
Problem:
cg deliver functionality is built around newest housekeeper tags for balsamic. This make it unusable for delivering results created before Jan 2021.

Steps to reproduce
  1. `cg deliver analysis -c movedjay -d balsamic-analysis`
  2. Only multiqc file is delivered

Expected outcome / suggested solution:
deliver all files

[2021-02-08 13:53] Mropat opened #951 "Create containerfile(s) for cg web applications"
Problem:
In order to move cg from clinical-db to server farm, applications which run on cg back-end need to be containerized

Expected outcome / suggested solution:
Containerfile definitions included in cg codebase

[2021-02-08 13:55] Mropat opened #952 "Add CI workflow for building and publishing cg container image(s)"
Expected outcome / suggested solution:
New version of cg container built and published on merge request

[2021-02-08 14:27] Mropat commented on #840
I think this discussion is resolved? Closing, reopen if I'm wrong

[2021-02-08 14:27] #840 closed

[2021-02-08 14:29] Mropat commented on #768
Current StatusDB architecture makes it very hard to implement. This potentially will be solved when we move our services to server farm and re-work how staging works

[2021-02-08 14:29] #768 closed

[2021-02-08 14:32] Mropat commented on #838
Same, will be reworked when staging is reworked

[2021-02-08 14:32] #838 closed

[2021-02-08 14:33] Mropat commented on #685
This seems to have been handled

[2021-02-08 14:33] #685 closed

[2021-02-08 15:33] moonso commented on #946
Could you try again @dnil ? If you get a more informative error message you could perhaps close this?

[2021-02-08 15:35] dnil commented on #946
Sure, that sounds perfect. I misread it initially, and really think a more useful thing to work on would be like a "verify" or "cleanup" command for housekeeper.

[2021-02-08 15:38] dnil commented on #946
Was there a particular branch you wanted me to test or just master?

[2021-02-08 15:43] dnil commented on #946
Hm, looks the same on master, but, honestly knowing what it looks like in hk makes this this rather ok. Garbage in - garbage out. How about we just close this and possibly file an issue for housekeeper to clean it up - or add a command / script for it for cleanup?

[2021-02-09 08:22] Mropat commented on #926
Note to self: break up into multiple issues

[2021-02-09 08:47] Mropat commented on #609
duplicate issue, deleting

[2021-02-09 08:47] #609 closed

[2021-02-10 09:03] #893 closed

[2021-02-11 08:19] #799 closed

[2021-02-12 08:18] #950 closed

[2021-02-13 13:38] vwirta commented on #40
This has limited value, hence closing for now. Reopen if needed.

[2021-02-13 13:38] #40 closed

[2021-02-15 08:34] hassanfa commented on #787
bump and tag @mayabrandi  FYI

[2021-02-15 08:56] moonso opened #961 "Validate orders when pushing submit in orderportal"
Orders should be validated with same validation models in the backend when pressing `submit` as the ones that is used when uploading an orderform (#924 ).

## This can be closed when

- [x] Orders are validated with pydantic models in CG when pressing "submit" in the orderportal

[2021-02-15 15:49] moonso commented on #618
This needs more description @Mropat or @barrystokman , who is best suited to update?

[2021-02-15 15:50] moonso commented on #610
Please elaborate the description

[2021-02-15 15:56] moonso commented on #722
Blocked in some way by Server farm project but the code can be implemented anyway!

[2021-02-16 09:07] #951 closed

[2021-02-16 09:51] moonso commented on #952
This is done right @Mropat ?

[2021-02-16 10:08] Mropat commented on #952
done

[2021-02-16 10:08] #952 closed

[2021-02-16 10:11] Mropat commented on #930
done and done

[2021-02-16 10:11] #930 closed

[2021-02-17 08:05] #932 closed

[2021-02-17 08:20] moonso commented on #940
As soon as the data can be fetched from housekeeper and we have the new NIPT tool setup in the new VM then we can try out the new tool. Agne needs to look at it.

## Blocked by

~Files needs to exist in housekeeper~
- [ ] CG cli for loading data into NIPT
- [ ] We need to set it up at some place so that Agne can start try it out

[2021-02-17 08:22] moonso opened #967 "Create CLI for uploading data to NIPT Tool"
Includes new CLI functions and a NIPT API

[2021-02-17 08:23] moonso opened #968 "Setup NIPT tool with mongodb at cg-vm1"

[2021-02-17 08:24] #967 closed

[2021-02-17 13:40] henrikstranneheim opened #969 "Add start-available for cg workflow mip-rna"
Enabling starting of all available rare disease RNA case via cg would save time and reduce the effort in starting mip-rna analyses

**Problem:**
This functionality is currently not implemented in cg

**Expected outcome / suggested solution:**
- `cg workflow mip-rna start-available` will start all rare disease RNA cases that are ready to be analysed

[2021-02-17 13:47] henrikstranneheim opened #970 "Add start for cg workflow mip-rna"
Enabling start of a rare disease RNA case performing prerocessing such as config-case creation, linking and then run the analysis via cg would save time and reduce the effort in starting a mip-rna analysis.

**Problem:**
This functionality is currently not implemented in cg

**Expected outcome / suggested solution:**
- `cg workflow mip-rna start` will start a rare disease RNA cases that are ready

[2021-02-17 13:56] henrikstranneheim opened #971 "Add resolve-compression for cg workflow mip-rna"
Enabling start of a rare disease RNA case without performing preprocessing, such as decompression from SPRING and addition to Housekeeper via cg would save time and reduce the effort in starting a mip-rna analysis.

**Problem:**
This functionality is currently not implemented in cg

**Expected outcome / suggested solution:**
- `cg workflow mip-rna resolve-compression` will start a rare disease RNA

[2021-02-17 14:22] hassanfa opened #972 "Cohort Fastq linking for cancer non-tumor (i.e. normal/germline) cases/samples"
As a busy person, I want to drink coffee so that I wake up. And sometimes I want to link multiple Fastq files in an analysis directory to run BALSAMIC for generating a background data

# Problem:
1. I don't know if it is possible to do so. And it should not start analysis, just link fastq files.
2. All these samples will NOT be tumor. These will be normal germline samples.

# Expected outcome / su

[2021-02-17 14:24] hassanfa commented on #972
ongoing discussion with @keyvanelhami

[2021-02-17 18:17] moonso commented on #972
Could you describe a little more how you imagine input and output to look like?

Could it be something like:

```cg workflow balsamic normal-pool --sample sample-id1 --sample sample-id2 ... --output path/to/analysis/dir/```

Or what do you have in mind?

[2021-02-17 18:49] hassanfa commented on #972
These pools of normal samples are >20 samples. I imagine typing it all can be problematic. If we create a case with all the samples we want, would command be too ambitious?

`cg workflow balsamic normal-pool <case_name>`

These samples won't be stored in housekeeper, cause the analysis result will be added either to `small reference` repo or `target_capture_bed` repo.

[2021-02-18 07:38] moonso commented on #972
Ok, will there be many differents pools or just a few that are being reused? If there are many I suggest that we implement so that the cli call can take a file with sample ids as argument. That would be a flexible way if creating new pools and change the pools.
Something like:

[code]

Do you mean that the samples don't exist in housekeeper at all? I assume that the system will know about the samp

[2021-02-18 07:52] Mropat commented on #972
Hi! Is this feature something that will be routinely used in production, or a research venture?
If its not yet a routine analysis, perhaps we could build a specialized script or package to link files and create config. Currently our setup for running balsamic in production is tailored after a specified definition for what a case and its config file should look like.

[2021-02-18 07:59] hassanfa commented on #972
- Csv  file is just fine. It is actually  easier, we can query statusdb separ and create list of samples that we would like to use. And we (cancer bioinfo) can store these in a repository for the record.

- I mean the final result will not be stored in the housekeeper. The final results are two tsv files, and possibly one vcf.

- It will be for production and routine analysis.

[2021-02-18 09:05] moonso commented on #972
Ok then I think I understand. We can consider if this should be a separate service or something that is included in the CG codebase. That choice should not affect the final thing so much.

[2021-02-18 09:21] henrikstranneheim commented on #918
@Mropat Could you add the effort and urgency labels?

[2021-02-18 09:24] henrikstranneheim commented on #618
@J35P312 @Mropat Is this done or what is left to do?

[2021-02-18 09:38] Mropat commented on #618
The delivery files aren't being cleaned right now. There is only one analysis to clean so far.

[2021-02-18 09:38] Mropat commented on #918
This is not needed. Solved in a different way now

[2021-02-18 09:38] #918 closed

[2021-02-18 09:44] henrikstranneheim commented on #918
Nice! One down....

[2021-02-18 09:51] hassanfa commented on #972
Production will use it to generate pool of normal results. I think the solution should definitely consider that. Wherever it is, it should be easily accessible for them.

[2021-02-18 10:11] henrikstranneheim opened #975 "Investigate invoicing for new NIPT Novaseq workflow"

[2021-02-18 10:28] moonso commented on #722
It should be possible to proceed with this one now!

[2021-02-18 10:31] henrikstranneheim commented on #612
@dnil and @J35P312 We need to know more of the delivery to the hospital server:
- What data files and format should be delivered?
- From where should it be delivered e.g. clinical.delivery (Ceasear, NIPTViewer)?
- How should it be delivered?
- When should it be delivered?
- Where should it be delivered?
- To whom should it be delivered?

[2021-02-18 10:33] moonso opened #977 "API for NIPT Tool"
We need a API for communicating with [NIPTool](https://github.com/Clinical-Genomics/NIPTool)

## Problem:
Cg needs to communicate with NIPTool to upload data.

## This issue can be closed when

There is a NIPTool api in CG that can communicate the relevant information with NIPT

[2021-02-18 10:36] henrikstranneheim commented on #618
What does clean up mean in this aspect? Is this a duplicate of https://github.com/Clinical-Genomics/cg/issues/617 or there some parsing of the files that needs to take place? Could you add some more details (when you have time) to make it easier to understand what needs to be done

[2021-02-18 11:42] keyvanelhami opened #979 "Create md5sum file for cg deliver"
Problem:
Customers downloading the analysis files from Caesar are unable to check if the downloading worked successfully or not. Therefore md5sum is needed to be created when running `cg deliver` before delivering the files to Caesar.

[2021-02-19 07:19] henrikstranneheim opened #982 "Failure for crontabs/mutacc-process.sh"
## Description

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/mutacc-process.sh

[code]

## Suggested solution

## This can be closed when

The crontab is working again

[2021-02-19 07:23] henrikstranneheim opened #983 "Failure for cron-add-research.sh"
## Description

Cron <hiseq.clinical@clinical-db> $CRONIC ~/servers/resources/clinical-db.scilifelab.se/crontabs/cron-add-research.sh >> ~/logs/cron.add.research.log 2> >(tee -a ~/logs/cron.add.research.log >&2)

Cronic detected failure for the command:
/home/hiseq.clinical/servers/resources/clinical-db.scilifelab.se/crontabs/cron-add-research.sh

[code]

## Suggested solution

## This can be clos

[2021-02-19 07:28] henrikstranneheim opened #984 "Failure for workflow-microsalt-upload-latest-analyses-vogue.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-microsalt-upload-latest-analyses-vogue.sh >> ${LOG_BASE}/cg.workflow-microsalt-upload-latest-analyses-vogue.log 2> >(tee -a ${LOG_BASE}/cg.workflow-microsalt-upload-latest-analyses-vogue.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resou

[2021-02-19 09:49] henrikstranneheim opened #985 "Failure for workflow-mip-dna-store-completed.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-store-completed.sh >> ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-store-completed.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workflow-mi

[2021-02-19 09:51] henrikstranneheim commented on #985
The proposed solution has been performed and production and stage is working.

@Mropat Please clarify or modify this issue as you see fit so that we have good traceability if this occurs again

[2021-02-19 09:51] #985 closed

[2021-02-22 13:20] heronikdin opened #987 "cant see coverage report"
hi,

I have created an issue in the "orderportal" of github aswell, but I thought I would create on here as well.....

We do not see the coverage report from the samples uploaded in scout. I have been told to create an issue on here regarding this issue. Please see below.

![image](https://user-images.githubusercontent.com/62098218/108713792-039a2d00-7519-11eb-95e5-dfccc0d2bbba.png)

[2021-02-22 13:56] dnil commented on #987
Something not quite working with https://github.com/Clinical-Genomics/cg/issues/930?

[2021-02-22 13:57] heronikdin commented on #987
Thank you for forwarding!

[2021-02-22 13:59] dnil commented on #987
And thank you right back for reporting!

[2021-02-23 08:37] moonso commented on #984
@Mropat will contact @talnor and ask her to reanalyse the case(s) causing he trouble

[2021-02-23 08:42] moonso commented on #968
We need to do one tool at a time so this is blocked until it's turn is up

[2021-02-23 09:52] henningonsbring opened #989 "The "deliver_fastqs_project"-command will create links for fastq-files for delivery that failed QC, leading to samples that failed QC are getting rsynced to customer"
## Description
The "deliver_fastqs_project"-command will collect fastq-files that failed QC. Should we change these old bash-scripts?

Old issue:
20ET100908 was used as name twice (ACC7453A23 and ACC7610A16). After demux ACC7610A16 had 0 reads in lims and statusDB, and could not be found in housekeeper. Running microsalt (`cg workflow microsalt start -t 154135`) lead to a QC report that did not ha

[2021-02-23 12:38] moonso commented on #983
This is actually a scout issue. The cronjob looks like this:
[code]
So nothing can be done from CG. I will make a PR to scout instead and transfer the issue there

[2021-02-23 13:24] #982 closed

[2021-02-23 15:03] henrikstranneheim commented on #610
Added question here: https://github.com/Clinical-Genomics/project-planning/issues/134. Closing

[2021-02-23 15:03] #610 closed

[2021-02-24 10:02] henrikstranneheim opened #1053 "Add validation functions of samplesheet to cg API using pydantic"
## Description

Validation of samplesheet needs to be done in multiple places in the demultiplexing process e.g. after creation, manual manipulation and before starting demultiplexing.

## This can be closed when

- [x] There is a common validation API to use for validating samplesheets https://github.com/Clinical-Genomics/cgmodels
- [ ] When all current validation functions have been transferred

[2021-02-24 12:21] henrikstranneheim commented on #989
@henningonsbring @barrystokman @karlnyr Would this be solved by the checks here: https://github.com/Clinical-Genomics/demultiplexing/issues/143 or is this a new check that should be added?

[2021-02-24 12:21] henrikstranneheim commented on #989
@henningonsbring Could you add the urgency label?

[2021-02-24 13:04] dnil commented on #987
Hi @heronikdin! After some debate (thanks @Mropat and @moonso) a we ended up with showing the nice new Balsamic QC report from Balsamic (thank you @hassanfa and @keyvanelhami) as the de facto delivery report for the cancer cases.

There you will find overall coverage statistics. You will find the reports on the same menu in Scout:
<img width="163" alt="Screenshot 2021-02-24 at 13 56 37" src="https

[2021-02-24 13:04] #987 closed

[2021-02-24 13:37] moonso opened #993 "Slurm API in CG"
## Description

There should be a SLURM api in CG as multiple situations are popping up where we would like to submit jobs to slurm. The api should be able to create batch files and submit them to slurm. It should also create files compatible with Trailblazer so that the jobs can be monitored.

## This can be closed when

- [x] There is a existing Slurm API in CG (fixed in #1025 )

[2021-02-24 13:39] #924 closed

[2021-02-24 14:30] karlnyr commented on #989
@henningonsbring This is not an error though? The quality of the reads of the said sample failed.

[2021-02-24 14:31] karlnyr commented on #989
Whether or not the data exists in the path you gave, the facts stand that the read quality of assigned reads is too low and should thus not be added to housekeeper.

[2021-02-24 14:44] henningonsbring commented on #989
You are right. Then the only question left is if we should do something with the automated delivery-script that deliver this data?

[2021-02-24 14:54] karlnyr commented on #989
I agree that the automated script should not, but that would probably be implemented when the delivery is implemented into cg. Which this issue could be connected to?

[2021-03-01 08:40] keyvanelhami opened #996 "Unable to upload cancer case to Scout"
## Description
**Please prioritize this issue since it's a high prio clinical production sample**

Case `comicdonkey` did first fail the analysis, and the analysis was then restarted and is now completed. The `analysis_finish` is also created.

Now, when running `cg upload scout comicdonkey`, below error appear:

[code]

## This can be closed when

When the case is uploaded in Scout

[2021-03-01 10:32] Mropat commented on #996
Case comicdonkey was completed in Cigrid, but the crontab for storing analyses in Housekeeper runs every 4h. The case completed, but the upload was attempted before the files were added to Housekeeper.
Solution:
- Check if bundle exists in Housekeeper
- Run cg workflow balsamic store comicdonkey
- Retry scout upload
Long-term solution:
- Discuss decreasing the interval for running crontab to 10min

[2021-03-01 10:32] #996 closed

[2021-03-01 10:52] hassanfa opened #997 "Problematic case in statusdb "ideamutt" possibly with bad Data analysis field"
`ideamutt` seems to be problematic. When retrieving it from Statusdb, workflow_name is NoneType

Exmaple:

[code]

Error:
[code]

Above works for other cases, example: "actualgecko"

This error is despite of idealmutt is being set to MIP_DNA in statusdb:
![image](https://user-images.githubusercontent.com/1086877/109487609-bcfe8280-7a84-11eb-8918-fd76fc83e78f.png)

[2021-03-01 10:55] hassanfa commented on #997
Any idea what would cause this? I'm trying to get list of all cases from statusdb for each workflow for crosschecking them with what Vogue has.

Did we update statusdb recently?

[2021-03-01 12:05] Mropat commented on #997
No, i think the problem is that if there are no analyses, you will get None as return

easier to get the workflow name as case_obj.data_analysis

[2021-03-01 13:48] hassanfa commented on #997
And how can I retrieve workflow_version?

[2021-03-02 11:51] Mropat commented on #997
Workflow version can be retrieved from analysis object. But also, only when analysis exists

[2021-03-03 08:48] hassanfa commented on #997
Ta!

[2021-03-03 08:48] #997 closed

[2021-03-04 08:24] henrikstranneheim commented on #984
@talnor Bump

[2021-03-09 07:13] henrikstranneheim opened #1001 "Failure for workflow-microsalt-store-completed.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-microsalt-store-completed.sh >> ${LOG_BASE}/cg.workflow-microsalt-store-completed.log 2> >(tee -a ${LOG_BASE}/cg.workflow-microsalt-store-completed.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workf

[2021-03-09 07:15] henrikstranneheim commented on #984
Most likely with the PR change: https://github.com/Clinical-Genomics/cg/pull/986
this errors has changed to
[code]

[2021-03-09 07:19] henrikstranneheim opened #1002 "Failure for cron-cg-clean.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-clean.sh >> ${LOG_BASE}/cron-cg-clean.log 2> >(tee -a ${LOG_BASE}/cron-cg-clean.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-clean.sh

[code]

[2021-03-09 07:22] henrikstranneheim opened #1003 "Failure for workflow-mip-dna-start.sh"
Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-start.sh >> ${LOG_BASE}/cg.workflow-mip-dna-start.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-start.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-start.sh

[code]

[2021-03-09 07:37] henrikstranneheim opened #1004 "Failure for workflow-balsamic-start-available.sh"
Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-balsamic-start-available.sh >> ${LOG_BASE}/cg.workflow-balsamic-start-available.log 2> >(tee -a ${LOG_BASE}/cg.workflow-balsamic-start-available.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workflow-balsamic-start-

[2021-03-09 07:41] hassanfa commented on #1004
This issue is because of a bad case. Case doesn't have tumor sample. @henrikstranneheim who does take care of statusdb and orders?

[2021-03-09 07:50] keyvanelhami commented on #1004
I can check with Anna G how the order was made

[2021-03-09 08:00] hassanfa commented on #1004
@Mropat wait with your fix.

[2021-03-09 08:01] keyvanelhami commented on #1004
This sample is a positive control and the reason for why the sample could be ordered is because the order was made 1 year ago. Now orderportal checks so one tumor is submitted for an order. This was not the case 1 year ago when the positive control order was made.

I have notified @annagellerbring to retroactive change all positive controls to tumurs. I have now changed this sample to "tumor" in s

[2021-03-09 08:22] annagellerbring commented on #1004
All currently used positive controls for tga (NA24143, HD829, HD827) are set to tumors.

[2021-03-09 08:32] Mropat commented on #1003
This error happened for a family that should not be started automatically. I have set all old families with comment "created by data_analysis migration" on hold

[2021-03-09 08:47] henrikstranneheim commented on #989
@henningonsbring Could you clarify the issue header more? I have a hard time following what is the actual issue and what needs to be done.

[2021-03-09 08:49] hassanfa commented on #1004
I guess we can retry to start this. @keyvanelhami can you please have a look. This is the case name I think: `firststud`

[2021-03-09 08:55] keyvanelhami commented on #1004
I have started the analysis for this sample successfully. However I don't know why crontab has tried to start this case since it's already delivered in LIMS...

Closing

[2021-03-09 08:55] #1004 closed

[2021-03-09 09:17] hassanfa opened #1008 "[urgent] coverage report still missing for balsamic --> scout uploads"
Coverage report for this case is missing: https://scout.scilifelab.se/cust087/F0037994-2 case name: petrobin

Coverage report exists and generated correctly:
[code]

@Mropat @moonso any idea what is going on?

[2021-03-09 10:01] henningonsbring commented on #989
I will start working on an automated solution to send files to customers, to goal is that one command should be enough to identify the files that should be sent, then all the processing that might be needed should be done and finally the rsync. As it is right now multiple commands are done after each other manually by production, and many checks are done manually, and we rely on remembering severa

[2021-03-09 10:02] Mropat commented on #1008
This issue is happening because a new version of Hermes was not deployed in production when the feature was introduced.
I have re-uploaded the case to scout for petrobin in particular.

To resolve for cases analyzed <45 days ago:

- run `cg workflow balsamic config-case <case_id>`
- run` cg workflow balsamic store <case_id>`
- run `cg upload scout <case_id> --re-upload`

The case should be updated

[2021-03-09 10:02] #1008 closed

[2021-03-09 10:03] henrikstranneheim commented on #825
Nice!

[2021-03-09 10:03] #825 closed

[2021-03-09 10:25] #1002 closed

[2021-03-09 11:06] #1003 closed

[2021-03-09 12:25] henrikstranneheim commented on #934
@Mropat Done?

[2021-03-09 12:32] #984 closed

[2021-03-09 12:32] #1001 closed

[2021-03-09 12:38] Mropat commented on #969
Implemented in #986

[code]

[2021-03-09 12:38] #969 closed

[2021-03-09 12:40] Mropat commented on #971
Fixed in #986

Resolve compression is added to EVERY workflow

[code]

[2021-03-09 12:40] #971 closed

[2021-03-09 12:41] Mropat commented on #934
done in #986

[2021-03-09 12:41] #934 closed

[2021-03-10 09:08] henrikstranneheim opened #1010 "Failure for workflow-microsalt-store-completed.sh"
## Description
Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-microsalt-store-completed.sh >> ${LOG_BASE}/cg.workflow-microsalt-store-completed.log 2> >(tee -a ${LOG_BASE}/cg.workflow-microsalt-store-completed.log >&2)

<details>
<Summary>
Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifela

[2021-03-10 09:10] henrikstranneheim commented on #1010
@henningonsbring @talnor @sylvinite Could you have a look at this and try to correct these cases? Or let us know if there are code that needs to change in cg or hermes.

[2021-03-10 09:17] henrikstranneheim opened #1011 "Failure for workflow-microsalt-upload-latest-analyses-vogue.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-microsalt-upload-latest-analyses-vogue.sh >> ${LOG_BASE}/cg.workflow-microsalt-upload-latest-analyses-vogue.log 2> >(tee -a ${LOG_BASE}/cg.workflow-microsalt-upload-latest-analyses-vogue.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resou

[2021-03-10 09:20] henrikstranneheim commented on #1011
@henningonsbring @talnor @sylvinite I think Maria said that this case had to be reanalysed to be able to create the files needed for vogue upload. Do you agree?

[2021-03-10 09:27] henrikstranneheim opened #1012 "Failure for command cron-cg-clean.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-clean.sh >> ${LOG_BASE}/cron-cg-clean.log 2> >(tee -a ${LOG_BASE}/cron-cg-clean.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-clean.sh

[code]

## Suggested solution

## This can be closed whe

[2021-03-10 09:43] talnor commented on #1010
In the logs it looks lite two NTCs failed. If that's the cause we might need to change something in hermes. I'll try restarting the case and see what we get after that.

[2021-03-10 10:27] hassanfa opened #1013 "[bug] cg upload vogue bioinfo-all error"
When running `cg upload vogue bioinfo-all` some cases fail. This is due to recent changes in the statusdb data analysis field:

Error content:
[code]

[2021-03-10 10:30] hassanfa commented on #787
I talked to Henrik about this on Monday Vogue meeting.

And to explain what I need is:

1. Keep track of what cases are uploaded to Vogue
2. Be able to upload latest "finished" analysis QC to Vogue

Please update me on the progress for this. Vogue is morphing and it'd be great to know the progress for this.

[2021-03-10 10:31] hassanfa commented on #972
bump

[2021-03-10 11:18] hassanfa opened #1014 "Possibly some 26 WGS cases for BALSAMIC are gone from HK"
Issue from cancer project: https://github.com/Clinical-Genomics/Cancer-project/issues/49
The samples are: https://clinical-api.scilifelab.se/admin/familysample/?search=ACC6472A1

Data analysis for these samples is changed from BALSAMIC to MIP_DNA. And none of the analysis are found in housekeeper for BALSAMIC runs.

So the theory is that any case that has been mip+balsamic was changed to mip_dna a

[2021-03-10 11:20] hassanfa commented on #1014
So what I need is a list of cases:

1. That were BALSAMIC and changed to MIP
2. List of cases that were BALSAMIC and analysis is finished but never stored.

[2021-03-10 11:23] hassanfa commented on #1014
Thank you for looking into this.

[2021-03-10 11:36] hassanfa commented on #1014
I'll check cases that I find and update this comment

cases that not affected:  moralgoat, toughdingo

cases that are affected: All of the 26 cases related to ACC6472A1-26

[2021-03-10 11:42] hassanfa commented on #1014
Update: we can't restart these 26 cases. A new order has to be placed. We'll discuss on cancer meeting and let you guys know.

[2021-03-10 11:53] moonso commented on #1014
If I understand correct the discussion on slack this was expected since a decision was made to wipe the data and reanalyse:

![Screen Shot 2021-03-10 at 12 52 18](https://user-images.githubusercontent.com/405278/110625224-7523dd80-819f-11eb-9db9-623f83bc7cdc.png)

However you wan't a list of all those cases?

Is this correct:

## This can be closed when

- [ ] There is a list of the case ids for t

[2021-03-10 12:00] hassanfa commented on #1014
Absolutely, we'll restart the analysis and re-store it.

I suggest the following:

## This can be closed when:

- [ ] There is a list of cases that were changed from BALSAMIC to MIP and have no bundle in Housekeeper.

----

Reason: We don't need to restart every single case, we just need to restart when we need. This issue doesn't need to be addressed right away. I understand this is a hard proces

[2021-03-10 12:11] talnor commented on #1011
In the logs it looks lite two NTCs failed. If that's the cause we might need to change something in hermes. I just reran the case. Deliverable files that are missing include the insert size metrics file and quast report for two NTCs.

[2021-03-10 12:13] moonso commented on #1014
Ok good

Could you update the labels accordingly? If I understand correct this is not a bug but expected and also Urgency is not L?

[2021-03-10 12:13] hassanfa commented on #1014
Will do.  👍🏽

[2021-03-10 12:17] hassanfa commented on #1014
also, please unassign yourself if this is not relevant. I didn't know who is best suited to judge the effort, gain, urgency and priority so I assigned all the experts I could think of.

[2021-03-10 12:20] moonso commented on #1014
I think it was perfect that you estimated those. We could always reevaluate but it is nice to have something .

[2021-03-10 12:47] talnor commented on #1010
/home/proj/production/microbial/queries/sampleinfo.json and /home/proj/production/microbial/queries/config.log have the wrong path.

In the deliverables file they are called "/home/proj/production/microbial/results/ACC7522_2021.3.10_10.50.46/**sampleinfo.json**". I think this needs to be updated in microSALT to be <ticket>_sampleinfo.json. Updates in cg needed as well?

[2021-03-10 13:34] karlnyr opened #1015 "Issues placing orders on singular samples of trio cases"
## Description

A customer attempted to place a re-run order on a single sample out of a trio. This created a ticket however the case and order was not properly placed. When investigating the logs I found that:

[code]

## Suggested solution

It seems like the order is trying to fetch the mother from the new case, however the sample was ordered as a singlet thus no mother is connected to it.

## T

[2021-03-10 13:35] karlnyr commented on #1015
I assigned this to you @patrikgrenfeldt, I hope that is correct

[2021-03-10 15:20] moonso commented on #794
## Pipeline description (example)

Ge input: ACCXXXX
1. Räkna ut alla fastq-filer som existerar baserat på input från LIMS vilka som klarat QC
2. Skapa en folder döpt till ACCXXXX i rätt kunds inbox (kolla så inte folder redan existerar, om det behövs lägg på post-fix _2, _3 osv)
3. Skapa folders inne i ACCXXXX-mappen som motsvarar kundens namn på varje prov
4. Skapa hårdlänkar i varje sample-fold

[2021-03-10 16:00] moonso commented on #794
# Questions

## Do we check QC before adding fastqs to HK?

@henningonsbring

## How do we check QC?

[2021-03-11 07:34] henrikstranneheim commented on #1012
I have looked at these samples and the analysis is either done 2019 or 2020. So these are old analyses that are being picked up now. I do not have permission to see if the working directories are removed, but I assume they are because that is the actual error message above.

@hassanfa @keyvanelhami I also wonder about the cases easyswine, amazedcaiman, closeheron, flyingturkey, suitedtrout, aptrhi

[2021-03-11 08:28] hassanfa commented on #1012
I check these samples and sounds like they were not analyzed. Analysis directory doesn't exist either. I checked cancer-project and not trace these cases.

It is safe to say these are MIP.

However, I checked Vogue's DB and they are uploaded as BALSAMIC (uploaded recently).

[2021-03-11 09:59] karlnyr opened #1024 "Customers are allowed to place RNA samples on WGS orders"
## Description

A customer is currently able to place an order mixing the two sample types of RNA and WGS. They should be run with two different types of pipelines. Currently `ACC5841A5` in `goldenserval` is a WGS sample that should be run with MIP, whilst the other 3 samples should be run with the RNA pipeline.

![image](https://user-images.githubusercontent.com/45558267/110767857-fa1dfe00-8256-1

[2021-03-11 11:28] hassanfa commented on #979
Question came up again with another delivery:

1. `cg` should be able to create and write md5 to delivery directory.
2. MD5 is not multithreaded
3. MD5 can only use CPU resources
4. MD5 calculation should and better be submitted as a job to SLURM. Login node cannot handle multiple deliveries.

This can be closed when `cg` delivers MD5 with file delivery.

[2021-03-11 12:01] henrikstranneheim commented on #1012
Changed `pipeline` from `balsamic` to `mip-dna` for case:
- easyswine
- amazedcaiman
- closeheron
- flyingturkey
- suitedtrout
- aptrhino
- manyllama

<img width="710" alt="Screenshot 2021-03-11 at 13 00 58" src="https://user-images.githubusercontent.com/584738/110784316-d57f5180-8269-11eb-97c8-7dc063a0761b.png">

[2021-03-11 12:01] #1012 closed

[2021-03-11 12:19] moonso commented on #979
One md5 per file then I suppose?

[2021-03-11 12:23] hassanfa commented on #979
Yes. One per file.

[2021-03-11 12:27] hassanfa commented on #979
It'd be great if we use a common tool that is available across platforms so customers can replicate results without need. I have not used rhash.

We also have MD5 hash housekeeper's database, maybe we should use that :-)

[2021-03-11 12:29] moonso commented on #979
This would be something for @henningonsbring to consider when writing the delivery of Fastq files as well

[2021-03-12 09:32] Mropat commented on #972
Hi!
You cant do the linking part already!

1. Make family for this with data_analysis = Balsamic and action = "hold" (important so that we dont try to autostart it like normal cases)
2. run cg workflow balsamic link
3. Create samplesheet/ config of your liking manually for now (save the spec if you want it implemented later)
4. Do your analysis

We can automate this later, but will need a more cle

[2021-03-12 09:46] hassanfa commented on #972
Update from cancer team:

- Maria and Hassan will discuss and come up with a solution.

[2021-03-12 10:09] dnil commented on #325
Ping @henrikstranneheim @hassanfa @moonso - time to just do this? Looks something like medium urgent, highly useful, and not very difficult, but please modify according to your scale!

[2021-03-12 10:11] dnil commented on #325
(We keep getting requests and questions on this from the cancer side users..)

[2021-03-12 11:28] #993 closed

[2021-03-12 11:30] moonso commented on #325
It is definitely doable but will need some work for the automation parts

[2021-03-12 12:38] dnil commented on #325
@hassanfa and I have convinced ourselves we only need one `cancer` instance for now. Ideally this will then be extended with a rich meta data collection for the variants at a later stage.

[2021-03-12 15:00] henrikstranneheim opened #1028 "Failure for cron-cg-upload-delivery-report.sh"
## Description
Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-upload-delivery-report.sh >> ${LOG_BASE}/cg.upload-delivery-reports.log 2> >(tee -a ${LOG_BASE}/cg.upload-delivery-reports.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-upload-delivery-report.s

[2021-03-12 15:04] henrikstranneheim commented on #1028
@patrikgrenfeldt Could this be related to the PR https://github.com/Clinical-Genomics/cg/pull/653?

[2021-03-12 17:59] patrikgrenfeldt commented on #1028
resolved by #1029

[2021-03-12 17:59] #1028 closed

[2021-03-15 07:21] henrikstranneheim opened #1032 "Failure for cron-cg-upload-delivery-report.sh"
## Description

Cron hiseq.clinical@hasta $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-upload-delivery-report.sh >> ${LOG_BASE}/cg.upload-delivery-reports.log 2> >(tee -a ${LOG_BASE}/cg.upload-delivery-reports.log >&2)

Failure for cron-cg-upload-delivery-report.sh

[code]
## Suggested solution

## This can be closed when

- [ ] When the crontab is working agai

[2021-03-15 14:29] talnor opened #1034 "Deliver customer inbox to FoHM SFTP servers"
## Description

For SARS-CoV-2 we need to deliver the results to FoHM SFTP servers. Files should be linked to customer inbox and then sent directly to the SFTP servers at FoHM.

Can this be implemented in cg?

ssh keys are set up and are available under the hiseq.clinical home folder.

## Suggested solution

- [x] Find a command to send data via SFTP
- [x] Only send samples that have 10X coverage

[2021-03-15 15:28] hassanfa opened #1035 "[urgent] Recurrent issue: coverage report still missing for balsamic --> scout uploads"
Similar to previous one: https://github.com/Clinical-Genomics/cg/issues/1008

Coverage report for this case is missing: https://scout.scilifelab.se/cust107/2017-00600-reprep case name: enoughboxer

Coverage report exists and generated correctly:
[code]

Not just this case, but all the following cases are affected:

lovedwalrus
niceclam
pureswine
caringduck
enoughboxer
amazedweevil
soundbear
smartb

[2021-03-15 15:38] hassanfa commented on #1035
Maria suggested solution to reconfig and reupload. I'm trying that.

[2021-03-15 15:50] hassanfa commented on #1035
Fixed it as per Maria's solution: https://github.com/Clinical-Genomics/Cancer-project/issues/64#issuecomment-799527547

[2021-03-15 15:50] #1035 closed

[2021-03-16 08:14] Mropat opened #1036 "Create cg workflow for MUTANT pipeline"
## Description

Mutant pipeline should be automatically configured and started by cg

## Suggested solution
 Create workflow

## This can be closed when

- [x] Create a workflow that links and concatenates analysis files
- [x] Create config for running the workflow
- [x] Automatically start analysis
- [ ] Track progress in Trailblazer

[2021-03-16 08:39] moonso opened #1037 "Demultiplex from CG"
## Description

Right now the demultiplex package is a mixture of python code and bash scripts. We should move the functionality to CG and convert it all to python to get better control of one of the most crucial processes at CG.

## Suggested solution

Create a demultiplex api that handles creation of sample sheets and starting of demultiplexing on Slurm. There should be a CLI function that loops

[2021-03-16 08:54] northwestwitch opened #1038 "coverage_qc_report key is wrongly replaced with delivery_report in cancer config files"
## Description

Cancer analysis pipeline should end up with a scout config file having 2 distincts key/values
- `coverage_qc_report`
-  `delivery_report`

The file that now is saved under `delivery_report` is instead the `coverage_qc_report`.
`delivery_report` should be left empty because it is not available yet, but will be used in the future.

Feel free to edit this description if you want to ad

[2021-03-16 10:19] #1038 closed

[2021-03-16 12:48] Mropat opened #1041 "Stop sending qc flag to balsamic from cg"
## Description

Balsamic deprecated "--analysis-type qc" cli option. Do not send this option from cg for cases with "Fastq" as delivery_type

[2021-03-16 14:53] patrikgrenfeldt opened #1043 "Install errors on Python 3.6"
## Description

*Describe the problem/suggestion*

Running the install of clinical-api (cg) on clinical-db errors with a stacktrace:

[code]

## Suggested solution

Search the internet for a similar error and solution

## This can be closed when

- [ ] The install succeeds  without traceback

## Blocked by

*If there are any blocking issues/prs/things in this or other repos. Please link to them.*

[2021-03-16 16:51] henningonsbring commented on #794
QC is checked in LIMS when the sequencing is done and the flowcell is moved into the delivery step. Samples that fail QC will not be added to housekeeper.

[2021-03-16 19:07] moonso commented on #794
can you add a link to the code that does the check? It would be great for documenting these steps

[2021-03-17 00:21] hassanfa opened #1045 "New API changes broke Vogue upload in production"
It seems recent changes in the API broke Vogue upload. It is not possible to upload anything to Vogue

![image](https://user-images.githubusercontent.com/1086877/111396263-feb33e00-86be-11eb-8eb5-4b4c4eff0fed.png)

[2021-03-17 00:23] hassanfa commented on #1045
We need TGA data in Vogue for Friday. Can someone give a thread what has happened and extend of this?

[2021-03-17 00:26] hassanfa commented on #1045
@Mropat Do you have a theory or guidance what might have gone wrong?

[2021-03-17 01:07] hassanfa commented on #1045
I solved it by `context.obj["housekeeper_api"] = HousekeeperAPI(context.obj)` is this the correct way? Is there anything else anyone suggest I should look at?

[2021-03-17 01:47] hassanfa opened #1046 "Pymysql too many open connection when uploading cases to Vogue"
I'm trying to upload bioinfo results to Vogue: `cg upload vogue bioinfo-all`

After uploading some 50 cases or so I get the following error:

[code]

What could be the cause? We have previously uploaded to Vogue without any issues.

[2021-03-17 01:49] hassanfa commented on #1046
This is happening while I'm trying to solve previous issue #1045 but since it is a SQL connection error, I thought it might deserve its own.

[2021-03-17 08:29] barrystokman commented on #1015
Solution: for an existing sample the trio check should be handled in the back end: skip trio check for existing sample unless a single, existing sample is added to a trio.

[2021-03-17 08:30] barrystokman commented on #1015
@Clinical-Genomics/data-analysis  How often does this occur?

[2021-03-17 08:33] barrystokman commented on #722
Blocked by NIPT refactor

[2021-03-17 08:36] henningonsbring commented on #1015
I have never seen this error before. And it should be rare, I do not understand why you should exclude two other persons from a trio, the two other persons really helps a lot in the analysis.

[2021-03-17 09:04] henrikstranneheim commented on #1015
Yes, I agree with you Henning that it does not make a lot of sense from an analysis point of view. But the system should handle this more gracefully.

It is good to know that this is a rare case. Might even be that the customer did not remember a trio existed.

[2021-03-17 09:37] #1045 closed

[2021-03-17 09:37] #1046 closed

[2021-03-17 11:11] patrikgrenfeldt opened #1049 "Wrong scout link in delivery reports"
## Description

link in delivery report becomes https://scout.scilifelab.se/cust000/21222/scout.scilifelab.se/cust000/21222.0

## Suggested solution

Should become https://scout.scilifelab.se/cust000/21222

## This can be closed when

- [ ] link becomes usable

## Blocked by

*If there are any blocking issues/prs/things in this or other repos. Please link to them.*

[2021-03-17 15:24] #1032 closed

[2021-03-18 07:15] henrikstranneheim opened #1051 "Failure for NIPT/database_setup.py --flowcell_ids flowcells"
## Description

Cron <hiseq.clinical@hasta> $CRONIC /home/proj/bin/conda/envs/nipt/bin/python /home/proj/production/bin/git/NIPT/database_setup.py --flowcell_ids `for i in /home/proj/production/flowcells/2500/nipt/*_*; do echo $i|cut -d '/' -f 5;done`

Cronic detected failure for the command:
/home/proj/bin/conda/envs/nipt/bin/python /home/proj/production/bin/git/NIPT/database_setup.py --flowcell_

[2021-03-18 07:16] henrikstranneheim commented on #1051
@mayabrandi @barrystokman Is this related to the migration?

[2021-03-18 10:27] henningonsbring commented on #794
PR for Step 1: https://github.com/Clinical-Genomics/cg/pull/1048

[2021-03-19 08:53] henrikstranneheim opened #1054 "HiseqX validation of samplesheet"
## Description

Since we are moving demux into `cg` we need to also move the validation of HiSeqX SampleSheet into it as well. There is a [PR](https://github.com/Clinical-Genomics/demultiplexing/pull/112) for this made for the demux package, but might as well be directly implemented into `cg` once the transfer is done
## Suggested solution

The validation should verify that:
* If there is more tha

[2021-03-19 10:47] #945 closed

[2021-03-19 11:54] henrikstranneheim opened #1055 "Failure for workflow-mip-dna-start.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-start.sh >> ${LOG_BASE}/cg.workflow-mip-dna-start.log 2> >(tee -a ${LOG_BASE}/cg.workflow-mip-dna-start.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/workflow-mip-dna-start.sh

[code]

## Sug

[2021-03-19 13:28] henrikstranneheim commented on #1055
@emmser Added value 10:
<img width="1277" alt="Screenshot 2021-03-19 at 14 28 15" src="https://user-images.githubusercontent.com/584738/111787541-591aed00-88bf-11eb-9b54-f73999a3c22f.png">

[2021-03-22 07:53] henrikstranneheim commented on #1055
Resolved

[2021-03-22 07:53] #1055 closed

[2021-03-22 08:54] Mropat opened #1057 "Harmonize pipeline definitions across tools"
## Description

Pipeline type classes in cg and hermes are not the same. This creates issues in integration between those tools
examples:

https://github.com/Clinical-Genomics/hermes/blob/f6c7840a3accf5f2f63dce10fdf90920accb4c41/cg_hermes/config/pipelines.py#L4

https://github.com/Clinical-Genomics/cg/blob/e972d64e4b50e037c3d00c3ddf8921f765862cb7/cg/constants/constants.py#L38

## Suggested solutio

[2021-03-22 12:54] Mropat opened #1058 "CG upload auto crontab error"
## Description

When analysis is uploaded to Scout via `cg upload auto`, we set timestamp in statusDB field analysis_upload_started_at in table Analysis
The cron will loop through all analyses where field analysis_uploaded_at is not set. If upload is completed, it will be updated
If not, and it has been >24h, the error is thrown:

[code]

It is caused by this piece of code:
https://github.com/Clin

[2021-03-23 07:20] henrikstranneheim opened #1061 "Failure for upload-auto.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/upload-auto.sh >> ${LOG_BASE}/cg.upload.log 2> >(tee -a ${LOG_BASE}/cg.upload.log >&2)

Cronic detected failure for the command:
/home/proj/production/servers/resources/hasta.scilifelab.se/crontabs/upload-auto.sh

[code]
## Suggested solution

## This can be closed when

- [ ] When

[2021-03-23 08:24] henrikstranneheim commented on #961
@moonso What is the status of this one? Could you add a better description? What validation is missing (front-end or back-end)

[2021-03-23 08:38] moonso commented on #791
closed by #1059

[2021-03-23 08:38] #791 closed

[2021-03-23 08:52] moonso commented on #961
Updated

[2021-03-29 07:43] Mropat commented on #1013
answered in #997

[2021-03-29 07:43] #1013 closed

[2021-03-29 09:30] #1057 closed

[2021-03-29 12:24] karlnyr commented on #1015
From what I have gathered it has been requested by customers to perform analysis on single samples in a trio.

[2021-03-29 13:13] karlnyr opened #1066 "Bug/feature request - Dont let cg add samples to an old family"
## Description

Currently customers are still able to add samples to old cases if they submit them through the orderform instead of searching for them inside of the order portal. In a previous update to orderportal it was fixed so that a customer could not add new samples to previous case and I think it would be the best for the customer and us to keep consistency in our order handling.

## Sugges

[2021-03-30 07:36] henningonsbring opened #1068 "The command "cg set" can not handle bool"
## Description

I want to set the sample property "no_invoice" to "True". The problem is that I am told that True is not a bool when I try commands like:
[code]

## This can be closed when

no_invoice can be set to True via the cli

[2021-03-30 07:42] #672 closed

[2021-03-30 07:43] #724 closed

[2021-03-30 08:05] moonso opened #1069 "CG use deprecated packages as dependencies"
## Description

CG is built on packages that are deprecated or not maintained. The result of this is potential security issues, unresolvable dependency trees etc.

## List of dependencies

- [Alchy](https://github.com/dgilland/alchy/) has not been updated in 4 years and are forcing CG to update SQLAlchemy which is the database engine
- [Flask-Alchy](https://github.com/dgilland/flask-alchy) not bee

[2021-03-30 08:29] moonso opened #1070 "Dependency tree should be resolved during development"
## Description

Dependencies gets added and sometimes they get updated. Other times the dependency of a dependency changes etc. This will eventually lead to something known as [dependency hell](https://en.wikipedia.org/wiki/Dependency_hell). There are a number of ways to attack this problem. The way we tackle it in CG today is to manually lock or set a constraint on a dependency when the build fai

[2021-03-31 07:46] henrikstranneheim opened #1073 "Investigate how to install cg using Poetry on Hasta and Clinical-db"
## Description
Cg needs to be installed on both Hasta and Clinical-db using either poetry or pip, but preferentially using poetry.

## Suggested solution

## This can be closed when
- [ ] When there is a solution to install cg with locked dependencies on Hasta and Clinical-db.

## Blocked by

*If there are any blocking issues/prs/things in this or other repos. Please link to them.*

[2021-03-31 09:29] patrikgrenfeldt opened #1074 "Remove ancient dependency to Alchy"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [Alchy](https://github.com/dgilland/alchy/) has not been updated in 4 years and are forcing CG to update SQLAlchemy which is the database engine

## This can be closed when

- [ ] The packages above is not a dependency of CG anymore

[2021-03-31 09:30] patrikgrenfeldt opened #1075 "Remove pre-historic dependency to Flask-Alchy"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [Flask-Alchy](https://github.com/dgilland/flask-alchy) not been updated in 5 years

## This can be closed when

- [ ] The packages above is not a dependency of CG anymore

[2021-03-31 09:33] patrikgrenfeldt opened #1076 "Remove security dependency for requests"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- `requests[sequrity]` seems to [make requests more brittle](https://github.com/psf/requests/issues/5267)

## This can be closed when

- [ ] The packages above is not a dependency of CG anymore

[2021-03-31 09:33] patrikgrenfeldt opened #1077 "Remove archived dependency colorclass"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [colorclass](https://github.com/Robpol86/colorclass) archived and not updated in 4 years

## This can be closed when

- [x] The packages above is not a dependency of CG anymore

[2021-03-31 09:34] patrikgrenfeldt opened #1078 "Remove old dependency petname"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [petname](https://pypi.org/project/petname/2.6/) no releases in 2 years

## This can be closed when
~The packages above is not a dependency of CG anymore~
- [x] This is not a problem to CG

[2021-03-31 09:36] patrikgrenfeldt commented on #1078
I looked into the code and I think it is more or less as @Mropat says, it's not touched because it is already perfect. It seems to me to lack dependencies as well.

I suggest we close this issue, ok?

[2021-03-31 09:37] patrikgrenfeldt opened #1079 "Remove outdated dependency pyschemes"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [pyschemes](https://github.com/spy16/pyschemes) not updated in 3-4 years

## This can be closed when

- [ ] The packages above is not a dependency of CG anymore

[2021-03-31 09:39] patrikgrenfeldt opened #1080 "Remove stale dependency python-dateutil"
## Description

CG has an old package dependency that needs a resolution

## Suggested solution

Replace/remove the deprecated packages
- [python-dateutil](https://github.com/dateutil/dateutil) Not released in 2 years

## This can be closed when
- [ ] The packages above is not a dependency of CG anymore

[2021-03-31 09:43] patrikgrenfeldt commented on #1069
This issue has been broken into smaller ones, closing this one

[2021-03-31 09:43] #1069 closed

[2021-03-31 11:38] patrikgrenfeldt opened #1081 "SAWarning on relationship Demux.samples"
## Description

Whenever we start cg we get the warning:
[code]

## Suggested solution

investigate why we get the warning and fix the issue (or silence the warning if it should be silenced)

## This can be closed when

- [ ] cg can be started without getting the warning above

[2021-04-01 16:28] henningonsbring commented on #794
PR for Step 2: https://github.com/Clinical-Genomics/MUTANT/pull/12

[2021-04-03 07:22] moonso commented on #1078
Yes I was also in contact with the maintainer and he has not dropped it 😄

[2021-04-03 07:22] #1078 closed

[2021-04-08 06:57] henrikstranneheim commented on #1036
@Mropat The top three in the checklist are completed right?

[2021-04-08 07:18] Mropat commented on #1036
@henrikstranneheim yes!

[2021-04-09 06:55] henrikstranneheim commented on #1037
@moonso Done?

[2021-04-09 08:41] moonso commented on #1037
Yes!!

[2021-04-09 08:41] #1037 closed

[2021-04-09 08:55] moonso opened #1090 "Finish up after demultiplexing"
## Description

CG now has the ability to start demultiplexing of flow cells and run the jobs on slurm. However there are some work being done when demultiplexing ends that is currently taken care of by a combination of the [demultiplex](https://github.com/Clinical-Genomics/demultiplexing) package [here](https://github.com/Clinical-Genomics/demultiplexing/blob/ba52030d83dcd70fa72d7f3f121ceac75275f

[2021-04-09 14:00] #1061 closed

[2021-04-09 14:01] Mropat commented on #1058
removing link, this is a different issue

[2021-04-09 14:05] Mropat commented on #989
@henningonsbring  is this done?

[2021-04-09 14:07] henningonsbring commented on #989
With `cg delivery` this is not a problem anymore

[2021-04-09 14:07] #989 closed

[2021-04-09 14:08] Mropat commented on #880
@hassanfa is this solved?

[2021-04-09 14:57] dnil commented on #880
Not really - unless this is one of a number of duplicate issues. The static reports are a really nice workaround, but actually uploading to chanjo will add useful functionality already available on the RD side, like checking a particular gene, transcript or panel. The issue may or may not be blocked by https://github.com/Clinical-Genomics/project-planning/issues/81.

[2021-04-09 15:11] hassanfa commented on #880
Regarding providing coverage to customers this is done.

But as chanjo thing, it is not. I suggest we close this and have a more concise issue elsewhere maybe? Long issues start to get vague in my simple brain 🥲

[2021-04-09 15:26] #880 closed

[2021-04-09 15:34] dnil opened #1092 "Enable BALSAMIC Chanjo upload"
## Description

The cancer track currently receive static coverage reports to Scout for each delivered case. For the RD track, dynamic coverage reports via Chanjo are available. Chanjo upload is run from CG on MIP output for the RD side. A similar mechanism for Chanjo loading for Balsamic is envisioned.

See e.g. https://github.com/Clinical-Genomics/cg/issues/880 for some discussion.

## Suggested

[2021-04-10 15:40] henningonsbring commented on #794
PR for Step 3: https://github.com/Clinical-Genomics/cg/pull/1093

[2021-04-12 06:26] henrikstranneheim opened #1094 "Failure for cron-cg-clean.sh"
## Description

Cron <hiseq.clinical@hasta> $CRONIC ${PRODUCTION_HOME}/servers/resources/hasta.scilifelab.se/crontabs/cron-cg-clean.sh >> ${LOG_BASE}/cron-cg-clean.log 2> >(tee -a ${LOG_BASE}/cron-cg-clean.log >&2)

[code]
## Suggested solution

*Write here if there is a suggested way to solve the issue*

## This can be closed when

- [ ] When the crontab is working again

## Blocked by

*If there

[2021-04-13 09:50] #1015 closed

[2021-04-14 07:05] #1036 closed

[2021-04-14 07:37] henrikstranneheim commented on #931
@Mropat Could you split this and make new issues and then close this one

[2021-04-14 08:21] 1ctw opened #1100 "Missing reports in Scout - coverage and mtDNA"
I just noticed that some reports are suddenly missing in many rerun cases in Scout.

One example is case 18114, where both coverage and mtDNA reports are missing. I know the mtDNA report was there the 1st of April when I worked with the case and exported the report.

Other cases are for example 18187, 17119, 18005, 16043, 14029 but probably many other cases are affected.

Could you please check wh

[2021-04-14 10:06] karlnyr opened #1101 "Linking files in mip does not account for undetermined files"
## Description
Old samples often have undetermined reads in combination with the determined ones. If we link the undetermined reads to hk we are not able to link them to a case automatically using the link command for the workflow. This is due to our current linking creating the same name for both files.

Solving this would be a tremendous gain as we currently have to notice manually that there ar

[2021-04-14 11:16] 1ctw commented on #1100
Thanks Chiara! If you can help solve this problem as fast as possible it would be good. We can not write clinical reports on those cases without having those reports in Scout.

[2021-04-14 11:31] moonso commented on #1100
I'll have a look

[2021-04-15 06:51] henrikstranneheim opened #1106 "Alembic fails on stage with msg "Can't locate revision identified by ...""
## Description

The update script fail often when testing new branches on stage with:
[code]

The solution is usually to log in to clinical-db and copy the cg database from prod to stage on Hasta. However, sometimes there are processes that lock the database copy process and these processes needs to be killed before a database copy can be successfully comlepleted. This makes the testing process mo

[2021-04-15 08:16] Mropat commented on #1106
Branch is still updated, alembic fails after installation
We need to manually copy prod to stage on clinical-db to get rid of the message

[2021-04-15 11:48] Mropat opened #1110 "Fluffy data_analysis field from rml json is parsed as FASTQ in StatusDB"
## Description
NIPT/FLUFFY rml orders get the wrong analysis type in statrusDB
![image](https://user-images.githubusercontent.com/35531751/114864320-234f2280-9df1-11eb-9fc5-cac5b0c6af99.png)

## This can be closed when
Data analysis field is parsed as "fluffy" instead

[2021-04-16 08:01] Mropat opened #1112 "Compression crontab renders some fastq bundles corrupt"
## Description

Bug report for compression edge-case:
The bug occurs when working with fastq bundle ELH2293A1. The first set of fastq files are from an older sequencing run and have been analyzed previously. The fastq files have been compressed to spring and removed from bundle via cronjob as per usual procedure.
The production recently decompressed the bundle and re-added the original fastq files

[2021-04-16 08:01] Mropat commented on #1112
for your information @karlnyr @moahaegglund

[2021-04-16 09:00] patrikgrenfeldt commented on #1110
resolved by https://github.com/Clinical-Genomics/cgweb/pull/306

[2021-04-16 09:00] #1110 closed

[2021-04-16 13:00] Mropat commented on #931
Relevant features:

- [ ]  cg deliver -d balsamic <case_id> links analysis output to cust folder on hasta (DOne)
- [ ]  cg deliver -d fastq <case_id> links raw fastq data to cust folder on hasta (Done)
- [ ]  cg deliver rsync <ticket_id> uploads all cases of given ticket to caesar (worked on by @henningonsbring )

- [ ] cg upload scout <case_id> uploads case to scout (Done)

A crontab could automa

[2021-04-16 14:21] #1094 closed

[2021-04-19 07:59] moonso opened #1114 "Expand cgstats API"
## Description

To get away from using old legacy code when running cgstats cli commands we should move the code in use into CG. This is part of the finishing steps of the demultiplexing process.

## Suggested solution

Implement functionality from cgstats into cg.

## This can be closed when

- [x] The commands `cgstats add` and `cgstats select` can be run from within CG

[2021-04-19 08:49] mayabrandi opened #1115 "New fields on LIMS sample for cov - GISAID upload"
## Description

We need two new fields that should be populated via orderportal and avalible to cg for gisaid upload of covid samples.

The fields will be saved as sample udfs in lims

**UDF names:**
- Collection Date _(date when sample was taken)_ Format: "2020-11-22"
- Original Lab _(lab that originaly took the sample)_

The fields need to be added to the orderform for covid samples. They should

[2021-04-19 14:05] Mropat opened #1118 "cg upload scout fails for balsamic TN"
## Description

`cg upload scout` fails for balsamic TN

[code]
## Suggested solution

Ensure hermes tags and cg upload are correct for Balsamic 7.x.x

## This can be closed when

It is possible to correctly upload any balsamic case to Scout with `cg upload scout`

[2021-04-19 14:09] hassanfa commented on #1118
That's something for me. 7.x.x will hopefully resolve it. 🤞🏽

[2021-04-20 06:34] patrikgrenfeldt opened #1120 "Replace umaintained dependency bumpversion with bump2version"
## Description

bumpversion is no longer maintained

## Suggested solution

replace with bump2version

## This can be closed when
[ ] bumpversion removed from requirements-dev.txt
[ ] bump2version added to requirements-dev.txt

[2021-04-20 07:47] Mropat opened #1121 "Fix microsalt automation"
## Description
Crontab for microsalt store completed keeps failing because of missing mandatory files in bundle

## Suggested solution

Fix microsalt config-case such that samples without enough reads or without any fastqs arent added to config, thus their projected outputs will not be added to deliverables either

## This can be closed when

Crontab muícrosalt store isnt failing routinely

[2021-04-20 07:53] Mropat opened #1122 "Fix microsalt query for weekly batches"
## Description

Write separate query specifically for microsalt cases to analyze to trigger whenever a new batch of samples has been sequencied

## Suggested solution
whenever a case has samples with sequenced_at of a later date than it's latest analysis bundle, start case

## This can be closed when

Microsalt automation starts tyopped-up batches by itself

## Blocked by

#1121

[2021-04-20 15:23] henningonsbring opened #1126 "Can not write any organism we want in status DB, the organism name is selected from a drop down menu"
## Description

When setting the organism name in status DB the organism is selected via a drop down menue. Sometimes production want to set an organism name that can not be selected from the drop down menue.

## Suggested solution

Being able to set the organism name by just writing the organism name in free text

## This can be closed when

Organism name can be set via free text, or someone desc

[2021-04-20 17:31] Mropat commented on #794
@henningonsbring  done?

[2021-04-21 06:50] henningonsbring commented on #794
we got no pipeline that run step 1-3

[2021-04-21 12:03] moahaegglund opened #1127 "Crontab tries to upload delivery report before analysis is done"
## Description

Case helpedpossum was analysed as a single case on the 9th of april and the delivery report was uploaded that day. Customer ordered rerun of this case and added the parents to it on the 20th of april. The crontab for uploading the delivery report tries to upload the delivery report for the trio since yesterday. This doesn't work since the analysis doesn't exist yet.

[code]

[2021-04-21 14:00] #670 closed

[2021-04-21 14:00] #892 closed

[2021-04-21 14:00] #1121 closed

[2021-04-21 14:00] #1122 closed

[2021-04-21 14:10] #1101 closed

[2021-04-26 06:53] Mropat commented on #760
stale

[2021-04-26 06:53] #760 closed

[2021-04-26 06:55] Mropat commented on #762
stale

[2021-04-26 06:55] #762 closed

[2021-04-26 06:56] Mropat commented on #667
@barrystokman  is this fixed?

[2021-04-26 06:57] Mropat commented on #525
Closing, the SQL query should pick up external cases, open again if not

[2021-04-26 06:57] #525 closed

[2021-04-26 06:58] henrikstranneheim commented on #130
Let's close this and revisit if needed

[2021-04-26 06:58] #130 closed

[2021-04-26 06:58] Mropat commented on #800
Closing. Partially solved, and other issues have their own ticket

[2021-04-26 06:58] #800 closed

[2021-04-26 06:59] Mropat commented on #401
@henrikstranneheim @barrystokman @moahaegglund @karlnyr
Is this related to the recent Undetermined file discussion? Can this be closed?

[2021-04-26 07:02] Mropat commented on #559
This is fixed. data analysis can only be one of our pipelines or Fastq.

[2021-04-26 07:02] #559 closed

[2021-04-26 07:02] Mropat commented on #454
Solved

[2021-04-26 07:02] #454 closed

[2021-04-26 07:03] Mropat commented on #430
@henrikstranneheim is this still relevant?

[2021-04-26 07:08] Mropat commented on #35
@henrikstranneheim still an issue?

[2021-04-26 07:09] barrystokman commented on #667
Yes.

I've introduced a new status called `retrieved` that solves this issue.
At the moment we don't want to remove flowcells from hasta,
We still need to look at point 5 of the suggested solution, but I think that should be its own issue.
I'm editing my comment of Oct 26 since it's incorrect.

[2021-04-26 07:09] moahaegglund commented on #401
Yes, this is connected, don't close it.

[2021-04-26 07:18] Mropat commented on #1115
will be stored in lims, closing. Issue about orderportal field has been made

[2021-04-26 07:27] mayabrandi opened #1132 "Make GISAID upload read new sample fields in lims"
## Description

GISAID csv file generation should fetch the twi new lims smaple fields **Original Lab** and **Colleciton Date** from LIMS

[2021-04-26 07:31] #1118 closed

[2021-04-26 07:54] keyvanelhami opened #1133 "Both cram and bam are linked with cg deliver analysis"
## Description

Both `cram` and `bam` files are linked to the inbox dir when running `cg deliver analysis` for balsamic cases

## Suggested solution

Only `cram` and `cram.crai` should be linked

## This can be closed when

bam-files are removed from the linking process

[2021-04-26 08:43] patrikgrenfeldt commented on #1126
@henningonsbring Is it in the Orderportal that you can't set the organism name as free text?

[2021-04-26 08:55] Mropat commented on #663
@moahaegglund
Is this still an issue? Do we want the express cases to autostart regardless of number of reads?

[2021-04-26 08:57] vwirta commented on #663
@Mropat @emmser @moahaegglund I think it would be good if Express samples autostart. We can always manually judge the quality after the analysis and before we deliver.

[2021-04-26 09:10] moahaegglund commented on #663
Agree, would be good if express samples always autostart. Both if the sample has too few reads or if q30 is bad.

[2021-04-26 11:36] #667 closed

[2021-04-26 11:38] #787 closed

[2021-04-26 11:50] mayabrandi opened #1134 "Invoice generation failing due to new bug in models."
## Description:  Invoice generation failing due to new bug in models.

Invoice generation is failing due to Customer model change:

`invoice_contact --> invoice_contact_email`

Log message:

[code]

[2021-04-26 11:52] henrikstranneheim commented on #430
It is, but it is a quality of life thing, and current settings work good enough. I will close this as I do not see us having a realistic chance of completing this in the near future. Will reopen if needed

[2021-04-26 11:52] #430 closed

[2021-04-26 11:54] henrikstranneheim commented on #35
I guess not since there was no answer and I am not aware of any current issues regarding this. Let's close it and reopen if needed

[2021-04-26 11:54] #35 closed

[2021-04-27 07:26] moonso commented on #1114
closed by #1130

[2021-04-27 07:26] #1114 closed

[2021-04-27 09:48] Mropat opened #1136 "Rename SampleProject value in fluffy result samplesheet to starlims ID"
## Description
We are now sending internal ticket id in fluffy results file
Klinisk Genetik would like it to be replaced with internal starlims id

## Suggested solution
Replace value during case config

## This can be closed when

Samplesheet contains correct value

[2021-04-28 08:15] henningonsbring opened #1137 "Samples with less than 15% of ordered reads are not included in the analysis (cases problem for mikro)"
## Description

Samples that got less than 15% of the ordered reads will never be included in the mikroSALT analysis.

This unwanted feature cases two problems:
1) Production use the QC report from mikrosalt to identify which samples that fail, and then we report about the fail to the customers. If we do not see the fails in the report we will assume everything went well and then report that to th

[2021-04-28 09:14] mayabrandi commented on #1115
@JessicaHillert @moedarrah @patrikgrenfeldt I just got to know that there will be another field; Region. I will get information about the allowed values for the fields today.

[2021-04-29 05:31] patrikgrenfeldt commented on #1115
What is the difference between "Region Code" and "Region"?
![image](https://user-images.githubusercontent.com/6697636/116506144-ec7f0f00-a8bc-11eb-8d89-a6f24c8946b3.png)

[2021-04-29 11:24] J35P312 opened #1142 "Some more edits to the NIPT samplesheet!"
Hello!
I have gotten some requests from Agne et al!
We want to have the sequencing date and "starlims arbetslista-nummer" in the fluffy output, to do so, we need to add it to the samplesheet.

Could you add the following to the samplesheet (i.e the file used as samplesheet input for fluffy):

1: we want the "Project" column to be set to the "starlims arbetslista-nummer". Currently the values of th

[2021-05-03 08:51] mayabrandi commented on #1115
Yes! It looks like that! We need to have a meeting about this. @patrikgrenfeldt Ill slack you!

[2021-05-03 09:45] #1134 closed

[2021-05-03 09:56] annagellerbring commented on #1115
Let me know also if there will be changed to the OF or not

[2021-05-03 13:48] mayabrandi commented on #1115
Hej. I now have all the information we need. We will have to do changes to the orderform:

- Change the **Region Code** column
- Add a **Region** column
- Add a **Collection Date** column
- Add a **Original Lab** collumn
- Add a **Original Lab Address** collumn

The lab address and region code will be autop generated in the order form.

I made the requiered changes to a orderform where you can hav

[2021-05-03 13:50] mayabrandi commented on #1115
[sarscov2_new_version.xlsx](https://github.com/Clinical-Genomics/cg/files/6415188/sarscov2_new_version.xlsx)

[2021-05-04 08:12] #1137 closed

[2021-05-04 08:18] Mropat commented on #1137
Fix deployed. will now send all samples

[2021-05-04 09:10] Mropat opened #1147 "Automatic decompression does not resolve correctly"
## Description
Rerun cases set to analyze sometimes will not start for several days
This is because decompression logic fails to add the files to Housekeeper at one of the steps

Needs more investigation why

## Suggested solution

???

## This can be closed when

FIles are successfully added back to hk after having been decompressed

[2021-05-04 11:02] Mropat commented on #1112
To solve this manually when it happens, delete the fastq files which have a corresponding spring archive from bundle and restart decompression.
We will look into implementing a permanent solution at a later date

[2021-05-04 11:36] henningonsbring commented on #1147
Do we know any examples of such cases? It would help a lot to look at such problematic case

[2021-05-04 11:38] moahaegglund commented on #1147
For example I have manually stored and started the analysis of case warmpossum, fluentkit and easypug.

[2021-05-04 12:11] moonso commented on #1147
I can not see the command that updates the information in housekeeper after automated spring decompression.

For spring **compression** there are two cronjobs running

- one that compress the fastq files
- one that cleans the compressed fastq files

The second command (`cg compress clean fastq`) removes the compressed fastq files and updates the housekeeper database. However I don't see if there i

[2021-05-04 13:07] JessicaHillert commented on #1115
Change the **Region Code** to **Region**?

[2021-05-04 16:02] henningonsbring commented on #1147
@moahaegglund Did you have to run `cg store case <case ID>` or `housekeeper add file -t <tag> -b <bundle name> <path>` to store in housekeeper?

[2021-05-05 06:02] moahaegglund commented on #1147
I did `cg store case <caseID>`

[2021-05-05 07:08] henningonsbring commented on #1147
Right now the code looks like this (the check_fastq_links function should always be reached, if not a warning should be thrown):
[code]

`check_fastq_links` function calls
[code]

@moonso what do you think about skipping checcking if a fastq is not in housekeeper and instead always add everything to housekeeper, no matter if it is there or not? I think the problem is that sometimes `if compression

[2021-05-05 07:35] moonso commented on #1147
I don't really understand what you mean by that? Why would you add them if they are already there?
All fastqs and spring files for a sample and a lane share the same prefix, this is the `stub`. Then depending on if it is, fastq read 1, fastq read 2 or spring they will have different file endings.

If the check `compression_obj.fastq_first not in fastq_files` is wrong sometimes, like you say, I thi

[2021-05-05 07:44] mayabrandi commented on #1115
@patrikgrenfeldt will explain to you! @JessicaHillert @moedarrah

[2021-05-05 07:52] mayabrandi commented on #1115
Column mapping:
https://docs.google.com/spreadsheets/d/1AK7X2zelLyOL1N9uJ6gaEKawJdin4K9a09pfGe7TVeo/edit#gid=611360557

@patrikgrenfeldt @annagellerbring

[2021-05-05 07:59] henningonsbring commented on #1147
I was thinking if the code was written so that your "add to hk"-function can handel if you add the same file again when it is already there.

The code has worked before, and it has stopped working without me changing anything, so I am not sure it has to do with the parts I have written. But if it has to do with something I have written then it is either:
1. The line with `self.prepare_fastq_api.ch